/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  margin-left:auto;
  margin-right:auto;

  font-size: 14px;
}

.centered{
  margin-left:5%;
  margin-right:5%;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  
  background-image: linear-gradient(to bottom, #A9D0F5, #CEE3F6 100%);
  /*padding: 5px 15px 5px 15px;*/
  position: relative;
}

#login-buttons {
  display: block;
}

.loginButtonsStyle {
  float: left;
  position: relative;
  padding: 15px;
  font-size:14px;
  font-weight:900;
  color:#FFF;
}

.hiddenButton {
  /*visibility: hidden;*/
  display: none;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
 /* padding: 5px;*/

  /*list-style: square outside none ; */
  /* background: white; */
}

.delete {
  float: right;
  font-weight: bold;
  /*background: none; */
  font-size: 1em;
  /*border: none;*/
  position: relative;
}

li {
  position: relative;
  /* list-style: disc outside none; */
  display: list-item;
  margin-left: 1em;
   /* border-bottom: #eee solid 1px;  */
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}


.red-asterisk {
	color:red;
}


/**/
.nav {
  margin-left: auto;
  margin-right: auto;
  position:relative;
  display:inline-block;
  font-size:14px;
  font-weight:900;

}
.nav-list {
  
}

.nav-list >ul>li{

}


.nav-item {
  margin: 0px;
  float:left;
  display:inline;
  zoom:1;
}
.nav-item a {
  display:block;
  padding:15px 20px;
 /*padding: 10px;*/
  color:#FFF;
  text-decoration: none;
  /*background:#34495E;*/
}
.nav-item:first-child a {
  border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
  border-radius:0 5px 5px 0;
}
.nav-item a:hover {
  /*background:#2C3E50;*/
  background: #8AB8E6;
  border-radius:5px ;
}


nav>ul>li>ul>li{
	list-style:none; 
	margin-left: 0px;
}

nav ul li:hover {background:#8AB8E6;border-radius:5px }

nav ul li ul {
	position: absolute;
	padding:0px;
}

nav ul li ul.fallback {display:none;}

nav ul li ul li:hover a {background:#F7F7F7;}

nav ul li:hover ul.fallback {
	width: 150%;
	background:#A9D0F5;
	display:block; 
	text-align: left;  
	/*z-index:1;
    opacity:1;*/}

ul.fallback{
	z-index:1;
    opacity:1;
    position: absolute;
    background: #8AB8E6;
    margin-left: 15px;
    border-radius:5px ;
}

.guidelinesShown{
	display: block;
}

.guidelinesHidden{
	display: none;
}

/*nav ul li ul {position:absolute;width:110px;background:#FFF;}
nav ul li ul li {width:110px;}
nav ul li ul li a {display:block;padding:15px 10px;color:#444;}
nav ul li ul li:hover a {background:#F7F7F7;}*/

/*

nav {background:#FFF;float:left;}
nav ul {text-align:center;}
nav ul li {float:left;display:inline;}
nav ul li:hover {background:#E6E6E6;}
nav ul li a {display:block;padding:15px 25px;color:#444;}
nav ul li ul {position:absolute;width:110px;background:#FFF;}
nav ul li ul li {width:110px;}
nav ul li ul li a {display:block;padding:15px 10px;color:#444;}
nav ul li ul li:hover a {background:#F7F7F7;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}*/


