/*labels.css*/

.scenarioFormCaption{
	padding-top: 5px;
}

/*.scenarioFormCaption:after{
	content: '\A'; breakspace http://stackoverflow.com/a/17047836/3961519 
	white-space: pre; /* or pre-wrap 
}*/

