/*labels.css*/

.scenarioFormCaption{
	padding-top: 5px;
	padding-left: 10px;
	color: white;
	font-weight: bold;

	background-image:linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
	background-image:-o-linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
}

/*.scenarioFormCaption:after{
	content: '\A'; breakspace http://stackoverflow.com/a/17047836/3961519 
	white-space: pre; /* or pre-wrap 
}*/

.feedbakReportPercentageStatus{
	color: gray; 
	padding-left: 10px;
	font-size: 12px;
}