/*******************
=Navigation bar
=NavBar
*********************/
.nav {
  margin-left: auto;
  margin-right: auto;
  /*margin-top:5px;*/
  position:relative;
  display:inline-block;
  font-size: 12px;
  font-weight: 900;
  /*font-size:12px;*/
  /*font-weight:900;*/
}

.navbar-container{
  background:#A9D0F5;
  display:flex;
}

.nav>ul{
    padding:0px;
}

.nav-list {
  padding-top: 0px;
  /*empty*/
}

.nav-list >ul>li{
/*empty*/
}

.nav-item-loginbuttons{
  display:inline;
  float:left;
  zoom:1;
  padding:10px 20px;
}

.nav-item {
  margin: 0px;
  float:left;
  display:inline;
  zoom:1;
}

.nav-item a {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
  text-decoration:none;
  font-weight:900;
  /*font-size: 55%;*/
  display:block;
  padding:10px 20px;
 /*padding: 10px;*/
  color:#FFF;
  text-decoration: none;
  /*background:#34495E;*/
  white-space: nowrap;
}
.nav-item:first-child a {
  border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
  border-radius:0 5px 5px 0;
}
.nav-item a:hover {
  /*background:#2C3E50;*/
  background: #8AB8E6;
  border-radius:5px ;
}

.selectedNavItem{
  background: #8AB8E6;
  border-radius:5px ;
}


nav>ul>li>ul>li{
	list-style:none; 
	margin-left: 0px;
}

nav ul li:hover {
  background:#8AB8E6;
  border-radius:5px; 
}

nav ul li ul {
	position: absolute;
	padding:0px;
}

nav ul li ul.fallback {display:none;}

nav ul li ul li:hover a {background:#F7F7F7;}

nav ul li:hover ul.fallback {
	width: 150%;
	background:#A9D0F5;
	display:block; 
	text-align: left;  
	/*z-index:1;
    opacity:1;*/}

ul.fallback{
	z-index:1;
    opacity:1;
    position: absolute;
    background: #8AB8E6;
    margin-left: 15px;
    border-radius:5px ;
}

/*.divider{
  border: 1px dashed #8AB8E6;
  margin: 0px 5px;
  font-size: 1px;
}*/

.divider{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #A9D0F5;
}


/*
Style for other components that go in the nav bar, such as the loginButtons from Meteor Accounts UI (and salutation) 
*/

.loginButtonsStyle {
/*  float: left;
  position: relative;*/
  padding: 5px 5px;
  color:#FFF;

  font-size:12px;
  font-weight:900;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration:none;

}

.loginSalutationStyle {
/*  float: left;
  position: relative;*/
  vertical-align: middle;
  padding: 5px 5px;
  color:#FFF;

  font-size:12px; /* This size should be the same as in the nav class for proper rendering*/
  font-weight:900;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*text-shadow:0 1px 1px rgba(0,0,0,0.5);*/
  text-decoration: none;

}