/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  margin-left:auto;
  margin-right:auto;

  font-size: 14px;
}

.clearboth {clear:both;}

.hr-thin { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #fff;
}

#mainHeaderDiv{
  text-align:center;
}

/* -------------------------------
=Guidelines. New Scenario Form Verbose / Expert mode
 * ------------------------------- */
.guidelines{
    font: 12px / 15px Helvetica, Arial;
    color: #00a0be;
    font-weight: normal;
    text-decoration: none;
}
.guidelines:hover{
    text-decoration: none;
}

#subControlBar .fa-toggle-off, 
#subControlBar .fa-toggle-on{
  color: #00a0be;
}

.guidelines-color{
  color: #00a0be;
}

.guidelinesShown{
  display: block;
}

.guidelinesHidden{
  display: none;
}
/* ------------------------------- */


/*Info icon for show/hide stats my scenarioso*/
#myscenariosstatsicon{
  color: #00a0be;
}


/* -------------------------------
=Footer
   ------------------------------- */
#footer a {
	text-decoration: none;
}

#footer {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-top: 1px solid #DDF;
    background-color: #F7FCFF;
    color: #333;
    text-align: center;
}
/* ------------------------------- */


#webtitle{
	font-size : 28px; 
	color : #606060 ; 
	text-align : justify; 
	text-shadow : 1px 1px black;
}

#subtitle{
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
  text-decoration:none;
  font-size: 20px;
  color:#000;
}


.centered{
  margin-left:5%;
  margin-right:5%;
}

.main{
	/*text-align: center;*/
  margin-left:10%;
  margin-right:10%;
}


.paddingLeft3{
  padding-left: 3px;
}

.padding-bottom-10{
  padding-bottom: 10px;
}

.scrollable-subpanel{
	height : 300px; 
	overflow-y : scroll;
	background : #CCE6FF;
}

/* -------------------------------
regular 
=TEXTAREA (scenario panel) 
   ------------------------------- */
.textAreaStyle{
	width : 100%;
	height: 30vh;
	font-size : 10pt;
}

/* text areas for solution tab or reduced panels */
.solutionTextAreaStyle{
	width : 100%;
	height: 20vh;
	font-size : 10pt;
}

/* text areas for the feedback panel */
.feedbackTextAreaStyle{
	width : 98%;
	height: 10vh;
	font-size : 10pt;
}

.regularTextAreaStyle{
	/*width : 450px;*/
	/*width : 98%;*/
  height: 100%;
}

.equipTextArea{
	height: 100%;
  /*padding-bottom: 0px;*/
}

.customClinicalEntry{
	height: 20px;
  vertical-align: middle;
  font-size: small;

}

.approvedScnTextArea{
  border: 1px solid grey; 
  background: #EAF2FB; 
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

/* ------------------------------- */


/*
=Text styles
*/
.justifiedText{
    text-align: justify;
    text-justify: inter-word;
}

/* +OTHERS */

header {
  background: #d2edf4;
  
  background-image: linear-gradient(to bottom, #A9D0F5, #CEE3F6 100%);
  /*padding: 5px 15px 5px 15px;*/
  position: relative;
}


h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}


ul {
  margin: 0;
}

li {
  position: relative;
  /* list-style: disc outside none; */
  display: list-item;
  margin-left: 1em;
   /* border-bottom: #eee solid 1px;  */
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}


@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}


.red-asterisk {
	color:red;
}

.sup_small_icon{
  font-size: 0.8em;
  vertical-align: text-top;
}

.exampleLabel{
/*	text-decoration: none;
	font-size: 12px;
	color:#FFF;
	background: #FFBE58;
	border-radius:5px ;
	padding: 1px 3px;
	white-space: nowrap;*/

  float: right;
  color: #00a0be;
}


.decentText{
	font-size: 18px;
	display:inline-block;
	zoom:1;
	vertical-align:bottom;
	text-align:center;
	margin: 10px 5px 15px 5px;
	text-decoration:none;
	font-weight:900;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.clinicalInputBar{
  background-color: #EAF2FB;
  margin-bottom: 10px;
}

.clinicalInputDiv{
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
}

.selectbox-wrapper{
	margin:10px;
}

.notificationBox{
	text-align:center; 
	background:#FF9900;
	padding: 3px 0px;
	margin:5px 0px;
}

.scenarioAuditInfoTextBox{
	background: #BAD9F7;
	/*padding-right:10px;*/
	margin: 10px 0px;
	width: 98%;
}

.scenarioAuditInfoSection{
	/*border: 1px solid black;*/
	margin: 10px 0px;
	width: 98%;
	background: #BAD9F7;
	/*display: inline;*/
}

.divFAQanswer{
	margin-left:10px;
}

/* ------------------------------- */
/* Miscellaneous components
*/

/*.info-icon{
  color:#36309A;
}

.info-icon:hover {
  color:#8683C2;
}*/
