/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  margin-left:auto;
  margin-right:auto;

  font-size: 14px;
}


/*
=Footer
*/
#footer a {
	text-decoration: none;
}

#footer {

    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-top: 1px solid #DDF;
    background-color: #F7FCFF;
    color: #333;
    text-align: center;
}

#webtitle{
	font-size : 28px; 
	color : #606060 ; 
	text-align : justify; 
	text-shadow : 1px 1px black;
}

#subtitle{
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
  text-decoration:none;
  font-size: 20px;
  color:#000;
}

#ffgfgf{
	colspan : 4;
}

.centered{
  margin-left:5%;
  margin-right:5%;
}

.main{
	/*text-align: center;*/
  margin-left:3%;
  margin-right:3%;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.scrollable-subpanel{
	height : 300px; 
	overflow-y : scroll;
	background : #CCE6FF;
}

/* regular 
=TEXTAREA (scenario panel) 
*/
.textAreaStyle{
	width : 98%;
	height: 30vh;
	font-size : 10pt;
}

/* text areas for solution tab or reduced panels */
.solutionTextAreaStyle{
	width : 98%;
	height: 20vh;
	font-size : 10pt;
}

/* text areas for the feedback panel */
.feedbackTextAreaStyle{
	width : 98%;
	height: 10vh;
	font-size : 10pt;
}

.regularTextAreaStyle{
	/*width : 450px;*/
	width : 98%;
}

.equipTextArea{
	height: 30px;
}

.customClinicalEntry{
	height: 15px;
    vertical-align: middle;
}

.justifiedText{
    text-align: justify;
    text-justify: inter-word;
}

header {
  background: #d2edf4;
  
  background-image: linear-gradient(to bottom, #A9D0F5, #CEE3F6 100%);
  /*padding: 5px 15px 5px 15px;*/
  position: relative;
}

#login-buttons {
  display: block;
}

.loginButtonsStyle {
  float: left;
  position: relative;
  padding: 10px 5px;
  color:#FFF;

  font-size:15px;
  font-weight:900;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*text-shadow:0 1px 1px rgba(0,0,0,0.5);*/
  text-decoration:none;

}

.loginSalutationStyle {
  float: left;
  position: relative;
  padding: 10px 5px;
  color:#FFF;

  font-size:14px;
  font-weight:900;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*text-shadow:0 1px 1px rgba(0,0,0,0.5);*/
  text-decoration: none;

}

.hiddenButton {
  /*visibility: hidden;*/
  display: none;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
 /* padding: 5px;*/

  /*list-style: square outside none ; */
  /* background: white; */
}

.delete {
  float: right;
  font-weight: bold;
  /*background: none; */
  font-size: 1em;
  /*border: none;*/
  position: relative;
}

li {
  position: relative;
  /* list-style: disc outside none; */
  display: list-item;
  margin-left: 1em;
   /* border-bottom: #eee solid 1px;  */
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}


.red-asterisk {
	color:red;
}

.exampleLabel{
	text-decoration: none;
	font-size: 12px;
	color:#FFF;
	background: #FFBE58;
	border-radius:5px ;
	padding: 1px 3px;
	white-space: nowrap;
}


.decentText{
	font-size: 18px;
	display:inline-block;
	zoom:1;
	vertical-align:bottom;
	text-align:center;
	margin: 10px 5px 15px 5px;
	text-decoration:none;
	font-weight:900;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* divs for choose clinical role or environment*/
.div-chooseClinical{
	display: table-cell; 
	align-items: center;  
	background-color: #EAF2FB;
	/*line-height: 50px;  */
	/* div>selectbox-wrapper is helping with this trick instead of setting a fixed line-height*/
}

.clinicalInputTable th, 
.clinicalInputTable td{
    background-color: #EAF2FB;
    border: 1px solid black;
}

.clinicalInputDiv{
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
}

.selectbox-wrapper{
	margin:10px;
}

.notificationBox{
	text-align:center; 
	background:#FF9900;
	padding: 3px 0px;
	margin:5px 0px;
}

.scenarioAuditInfoTextBox{
	background: #BAD9F7;
	/*padding-right:10px;*/
	margin: 10px 0px;
	width: 98%;
}

.scenarioAuditInfoSection{
	/*border: 1px solid black;*/
	margin: 10px 0px;
	width: 98%;
	background: #BAD9F7;
	/*display: inline;*/
}

.divFAQanswer{
	margin-left:10px;
}

/***************
 =TABLES
 ***************/

 .narrowColumn{
 	text-align : center;
 	width : 5%;
 }

/* class for EVEN rows on tables with pijamas */
.tablePijamaEvenRow{
	background: #FFFFFF;
}


/* class for ODD rows on tables with pijamas */
.tablePijamaOddRow{
	background: #99CCFF;
}

.tablePijama{
	width: 100%;
}

.tablePijama tr:nth-child(2n+4){
	background: #F5FAFF;

}

.clickableHeader{
	cursor: pointer;
}

.thin-column{
	/*width:1%; */
	/*display: inline-block;*/
	white-space:nowrap;
}

#contributionsStatsTable td:first-child{
	text-align:right; 
	padding-right:5px;
}


/*******************
Navigation bar
*********************/
/*.nav {
  margin-left: auto;
  margin-right: auto;
  margin-top:1px;
  position:relative;
  display:inline-block;
  font-size:14px;
  font-weight:900;

}*/
.nav-list {
  
}

.nav-list >ul>li{

}


.nav-item {
  margin: 0px;
  float:left;
  display:inline;
  zoom:1;
}
.nav-item a {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
  text-decoration:none;
  font-weight:900;
  display:block;
  padding:10px 20px;
 /*padding: 10px;*/
  color:#FFF;
  text-decoration: none;
  /*background:#34495E;*/
}
.nav-item:first-child a {
  border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
  border-radius:0 5px 5px 0;
}
.nav-item a:hover {
  /*background:#2C3E50;*/
  background: #8AB8E6;
  border-radius:5px ;
}

.selectedNavItem{
  background: #8AB8E6;
  border-radius:5px ;
}


nav>ul>li>ul>li{
	list-style:none; 
	margin-left: 0px;
}

nav ul li:hover {background:#8AB8E6;border-radius:5px }

nav ul li ul {
	position: absolute;
	padding:0px;
}

nav ul li ul.fallback {display:none;}

nav ul li ul li:hover a {background:#F7F7F7;}

nav ul li:hover ul.fallback {
	width: 150%;
	background:#A9D0F5;
	display:block; 
	text-align: left;  
	/*z-index:1;
    opacity:1;*/}

ul.fallback{
	z-index:1;
    opacity:1;
    position: absolute;
    background: #8AB8E6;
    margin-left: 15px;
    border-radius:5px ;
}


/*****************
******************/
.guidelinesShown{
	display: block;
}

.guidelinesHidden{
	display: none;
}



/******** 
=Navigation 
=Pagination
*********/

.pager {
  margin-left: 0;
  margin-bottom: 18px;
  padding-left: 0px;
  list-style: none; 
  text-align: center;
  /* *zoom: 1; */
}
.pager:before,
.pager:after {
  display: table;
  content: "";
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next a {
  float: right;
}
.pager .previous a {
  float: left ;
}
.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
  background-color: #fff; /*#FF8080;*/
  cursor: no-drop !important;
}




