<!-- @author https://github.com/diego2013 -->

<template name="contactInfo">
<h2>Contact information</h2> 
    
    <p style="margin-bottom:0px;margin-top:0px;"><strong>MD PnP Program</strong></p>
    <p style="margin-bottom:0px;margin-top:0px;">65 Landsdowne St., Suite 200</p>
    <p style="margin-bottom:0px;margin-top:0px;">Cambridge, MA  02139</p>
    <p>
      <a href="mailto:info@mdpnp.org?Subject=Clincical%20Scenario%20Repository" target="_top">info@mdpnp.org</a>
    </p>
   
    <h2>About the MD PnP Program</h2> 
    
    <p>
        The MD PnP (Medical Device <em>Plug and Play</em>) program, established in 2004, has become a recognized leader in the development 
        of the concepts and capabilities for integrated clinical environments of the future. We have 
        been working to accelerate the adoption of medical device interoperability by providing 
        interoperability building blocks (use cases, standards, a neutral lab environment, and open research tools) 
        and by changing clinical and market expectations of what can be achieved.
    </p>
    
    <h3>Affiliations and Program Support</h3>
    <p>The program is affiliated with 
        <a href="http://www.massgeneral.org/" target="_top"> Massachusetts General Hospital</a> (MGH),
        <a href="http://www.cimit.org/" target="_blank"> Center for Integration of Medicine and Innovative Technology</a> (CIMIT), 
        <a href="http://www.partners.org/" target="_blank"> and Partners HealthCare System</a>
        ,with additional support from the			           
        <a href="http://www.tatrc.org/" target="_top"> U.S. Army Telemedicine and Advanced Technology Research Center</a> (TATRC),
        the National Institutes of Health (NIH), 
        National Science Foundation (NSF), 
        and the National Institute of Standards and Technology (NIST). 
     </p>
     <p>   
        We have an additional special affiliation with the 
         <a href="http://www.healthit.gov/" target="_top"> SHARP</a> program in the 
        Office of the National Coordinator for Health Information Technology.		           
    </p>
    
    <h3>Collaboration with Diverse Stakeholders</h3>
    
    <p>Our interdisciplinary, multi-institutional program team has been collaborating with diverse stakeholders including:</p>
    <ul>
        <li>Clinicians</li>
        <li>Biomedical and clinical engineers</li>
        <li>Healthcare delivery organizations</li>
        <li>Healthcare delivery organizations</li>
        <li>Medical device manufacturers</li>
        <li>Interoperability-promoting organizations</li>			           
    </ul>
    <p>Since the program’s inception, more than 800 clinical and engineering experts, 
        and representatives of more than 100 companies and institutions have participated in 
        plenary workshops/conferences, working group meetings, and focus groups to contribute 
        to ongoing program activities and help shape the common goals.
    </p>
    
   <h3>Vendor-Neutral "Sandbox" Laboratory</h3>
   <p>The CIMIT MD PnP Lab provides a vendor-neutral “sandbox” to:</p>
   <ul>
       <li>Evaluate the ability of candidate interoperability solutions to solve clinical problems</li>
       <li>Model clinical use cases (in a simulation environment)</li>
       <li>Develop and test related network safety and security systems</li>
       <li>Support interoperability and standards conformance testing</li>
   </ul>
	
   <p> © 2013 MD PnP Program</p>

</template>