<!-- @author https://github.com/diego2013 -->

<template name="disclaimer">
  <h2>Disclaimer</h2> 
    
    <p>The MD PnP program hosts this website to promote a shareable data base of clinical scenarios.</p>
    
   <p>Users are responsible for the content they submit to the repository and the use they give to the data retrieved from 
        this website and the consequences of such actions.
   
    No protected health information, such as names of individuals or institutions, or defamatory information is allowed in 
        the submission of clinical scenarios. Clinical information submitted to the repository should be deidentified.</p>
	
   <p>Although all scenarios submitted to this repository are revised by a group of administrators, this revision process does not
	occur on an immediate nor timely manner.</p>

   <p>This website does not substitute, nor intends to substitute, other websites or medico-legal regulatory organizations’ 
	procedures for event or hazard reporting obligations, such as the FDA's reporting system. 
	</p>
 
   <p>Although we appreciate all collaborations, depending on the implications of the hazard discovered or nature of the event to 
   be reported, users may want to or may be legally obliged to report them to the appropriate 
   organisms through the established channels.
   </p>
   
   <p>The aim of this repository is NOT to provide any kind of advice (legal or otherwise) or solution about
	a health issue. If you are suffering from a medical problem you should call your physician. In case of a medical emergency, 
	dial 911.
	</p>
	
	<p> © 2013 MD PnP Program</p>
</template>