<!-- @author diego@mdpnp.org-->


<!-- Template for the Feedback form -->
<template name="FeedbackForm">

  <h1>Feedback and Suggestions</h1>

  <div id="header">
  <p>As part of the Clinical Scenario Repository <em>beta testing process</em> we would like to know you opinion about this site.
  Your feedback, ideas and suggestions can help us improve this repository,  thus delivering a better tool to help improve patient safety
  and Healthcare.
  </p>

  <p>Please, let us know your impression about this site.</p>

  <p> The <span class="red-asterisk">red asterisk (*)</span>  in the form indicates a mandatory field.</p>

  </div>


  <div>
  <form id="feedbackPanel" class="feedbackPanel" >
  	<div class="scrollable-subpanel">
  		 How would you rate this website? <span class="red-asterisk">*</span> <br/>
		<textarea type="text" name="rateSite" rows="3" class="textAreaStyle" placeholder="What was your overall experience using this site?"></textarea>

		<br/> Is the repository easy to navigate and use? <br/>
		<textarea type="text" name="rateNavigation" rows="3" class="textAreaStyle" placeholder="Which problems did you encounter to navigate and find content?"></textarea>

		<br/> Is the information and functionality logically organized? <br/>
		<textarea type="text" name="rateOrganization" rows="3" class="textAreaStyle" placeholder="Which problems did you encounter to navigate and find content?"></textarea>

		<br/> Did you have trouble logging in? <br/>
		<textarea type="text" name="rateLogin" rows="3" class="textAreaStyle" placeholder="What was the problem?"></textarea>

		<br/> Are there any unclear questions or fields? <br/>
		<textarea type="text" name="rateClarity" rows="3" class="textAreaStyle" placeholder="Which ones?"></textarea>

		<br/> Are the any missing fields, sections or elements? <br/>
		<textarea type="text" name="rateSections" rows="3" class="textAreaStyle" placeholder="What would you add?"></textarea>

		<br/> Would you find this useful if it was available to your department? Who would find it useful? <br/>
		<textarea type="text" name="rateUsefulness" rows="3" class="textAreaStyle" placeholder="Who would find it useful?"></textarea>

		<br/> Does the website appear professional and trustworthy? <br/>
		<textarea type="text" name="rateAppearance" rows="3" class="textAreaStyle" placeholder="If not, why not?"></textarea>

		<br/> Do you like the visual design of the website? 
			<select id="visualDesign">
			  <option value="I don't know">I don't know</option>
			  <option value="Yes">Yes</option>
			  <option value="No">No</option>  
			  <option value="I don't understand the question">I don't understand the question</option>
			</select>
		<br/>

		<br/> Do you have any other suggestions, requests or complaints?<br/>
		<textarea type="text" name="rateGeneral" rows="3" class="textAreaStyle" placeholder="What else can you tell us to improve the site?"></textarea>
	
	</div>

	<div>
	{{#if currentUser}}
		<p><input type="checkbox" name="submitAnonymously" value="anonymous">Submit feedback anonymously, without revealing my username or identity.</p>
	{{/if}}	
		<button  type="submit" id="submitFeedback" class="btn btn-small btn-mint"  name="submitButton" title="Submit feedback">Submit Feedback</button>
	</div>

 </form>
 </div>

</template>


<!-- Template for the "Thank you for your feedback" page displayed after user submits feedback-->
<template name="FeedbackFormThakYou">
	<span style="font-size:12pt;"><b>Thank you for your feedback</b></span>

	<p>The feedback you provided helps us to improve this <b>Clinical Scenario Repository</b> © and build a better tool for clinicians, clinical engineers, researchers and public in general, ultimately improving patient safety and Healthcare. </p>

	<div>
     <table  cellpadding="15" style="margin-left:auto;margin-right:auto;">
	     <tr>
	     <td><a href="{{ pathFor 'new' }}" class="btn btn-small btn-dark-blue">Click here to enter a new clinical scenario</a></td>
	     <td><a href="{{ pathFor 'home' }}" class="btn btn-small btn-dark-blue">Click here to examine the clinical scenario collection</a></td>
	     </tr>
	 </table>  
	</div>  
</template>

<!-- Template to display the feedback documents -->
<template name="feedbackListTable">

	<p>Content of the database: {{feedbackCol.count}} entries</p>

	<table>
		<tr class="btn-turquesa">
			<th>Submitter</th>
			<th>Link</th>
			<th>UID</th>
			<th>Submission Date</th>
			<th title="pending of revision">Revision</th>
			<th>Reviewer</th>
			<th>Review Date</th>
		</tr>

		{{#each feedbackCol}}
	   	   <tr style="text-align: center"> {{ > feedbackReport }} </tr>
	   	{{/each}}

	</table>


</template>

<!-- Template to display a single feedback report -->
<template name="feedbackReport">
    <td>{{username}}</td>
  	<td><button id="seeFeedbackReport" style="width:100%" class="btn-orange"  name={{_id}}>See Report</button> </td>
  	<td>{{_id}} </td>
  	<td>{{formatDate createdAt}}  </td>
  	<td>{{reviewed}}</td>
  	<td>{{reviewer}}</td>
  	<td>{{formatDate reviewedAt}}</td>
</template>

<!-- Template to review feedback entries -->
<template name='feedbackReview'>
	<p>Revision of feedback</p>
	<p>Contribution with UID <b>{{_id}}</b> Submitted by <em>{{username}}</em> on {{formatDate createdAt}}. <b>Status of revision: </b>{{reviewed}}</p>
	{{#if isReviewed .}}
	Reviewed by <em>{{reviewer}} on {{formatDate reviewedAt}}</em>
	{{/if}}
	
	<div class="scrollable-subpanel">
	<b>How would you rate this website?</b><br/>
	<p>{{rateSite}}</p>

	<b>Is the repository easy to navigate and use?</b> <br/>
	<p>{{rateNavigation}}</p>

	<b>Is the information and functionality logically organized?</b> <br/>
	<p>{{rateOrganization}}</p>

	<b>Did you have trouble logging in?</b> <br/>
	<p>{{rateLogin}}</p>

	<b>Are there any unclear questions or fields? </b><br/>
	<p>{{rateClarity}}</p>

	<b>Are the any missing fields, sections or elements?</b> <br/>
	<p>{{rateSections}}</p>

	<b>Would you find this useful if it was available to your department? Who would find it useful?</b> <br/>
	<p>{{rateUsefulness}}</p>

	<b>Does the website appear professional and trustworthy?</b> <br/>
	<p>{{rateAppearance}}</p>

	<b>Do you like the visual design of the website? </b> {{visualDesign}} <br/>

	<b>Do you have any other suggestions, requests or complaints?</b><br/>
	<p>{{rateGeneral}}</p>
	
	</div>
	
	{{#if isReviewed .}}
	<button id="markAsPending" name={{_id}} class="btn btn-small btn-red">Mark as Pending of Revison</button>
	{{else}}
	<button id="markAsReviewed" name={{_id}} class="btn btn-small btn-mint">Mark as Reviewed</button>
	{{/if}}
	
	
</template>

