<template name="help">
<h2>Feedback and Contact Information</h2> 

<p>In order to give us feedback to help improving this web tool you can <a href="{{ pathFor 'FeedbackForm' }}" >take our survey</a>.</p>
<p>For a tutorial on how to use the Clinical Scenario Repository <span style="font-size:9px;vertical-align: text-top;">©</span> or to solve a problem check the FAQ section below.</p>
<p>Do not forget that you can contact us <a href="mailto:info@mdpnp.org?Subject=Clincical%20Scenario%20Repository" target="_top">by email</a>.</p>

<h2>Frequently Asked Questions on using the Clinical Scenario Repository <span style="font-size:12px;vertical-align: text-top;">©</span></h2> 
<p><ul>
	<li><a href="#createaccount">How to create a new account</a></li>
	<li><a href="#login">How to log in in the CSR</a></li>
	<li><a href="#passwordchange">How to change your account's password</a></li>
</ul></p>

<p><ul>
	<li><a href="#createnewscn">How to create a new clinical scenario or good idea</a></li>
	<li><a href="#track">How to keep track of your contributions</a></li>
	<li><a href="#unsubmitted">What does "<em>unsubmitted</em>" mean when referring to a clinical scenario or good idea?</a></li>
	<li><a href="#approved">How to examine the clinical scenarios in the repository</a></li>
	<li><a href="#apporved">Why my contribution does not show under the "<em>approved</em>" scenarios?</a></li>
	<li><a href="#uidquestion">What does "<em>Scenario UID</em>" mean and why am I seeing this?</a></li>
</ul></p>

<p><ul>
	<li><a href="#createnewscn">How to submit feedback to help improving this tool</a></li>
	
</ul></p>


<!-- How to create a new account -->
<p><a id="createaccount"></a><h3>How to create a new account</h3></p>
<table>
	<tr>
		<td><img alt="Sign in" style="float:left;" src="/images/help/signInDialog.png" width="200" height="200"/></td>
		<td><img alt="MD PnP Logo" style="float:left;" src="/images/help/createAccount.png" width="175" height="200"/></td>
		<td><p>By clicknig <em>"Sign in"</em> on the top left corner you sould be presented with a dialog box to sign in the repository. If you don't have yet an account and need to create a new one, simply click <em>create account</em> on the bottom right corner. That will switch the dialog box to offer you a small form to create a new account. The information required will be:
		<ul>
			<li>username</li>
			<li>email address</li>
			<li>password</li>
		</ul>
		All the fields are mandatory. 
		</p>
		<p>Additionally you can use your Google account in order to automatically configure your new account. In order to do so, simply click on the red button on the top of the form <em>"Configure Google Login"</em>.	
		</p>
		</td>
		
	</tr>
	<tr>
		<td><b>Sign In</b> dialog box</td>
		<td><b>Create New Account</b> dialog box</td>
		
	</tr>
</table>

<!-- How to log in in the CSR -->
<p><a id="login"></a><h3>How to log in in the CSR</h3></p>
<table>
	<tr>
		<td><img alt="Sign in" style="float:left;" src="/images/help/signInDialog.png" width="200" height="200"/></td>
		<td><p>In orther to sign in into the repository simply click <em>"Sign in"</em> on the top left corner and will be presented with a dialog box to sign in the repository. Enter your username or email address in the first text field and type your password on the one right underneath. THen click the blue <em>"Sign In"</em> button.</p>
		</td>
		
	</tr>
	<tr>
		<td><b>Sign In</b> dialog box</td>
	</tr>
</table>

<!-- How to change your account's password -->
<p><h3><a id="passwordchange"></a>How to change your account's password</h3></p>
<table>
	<tr>
		<td><img alt="reset password" style="float:left;" src="/images/help/changePassword.png" width="150" height="100"/></td>
		<td><p>If you want to change your password simply <em>"log in"</em> into the repository and then click on your name on the top left corner. You will be presented with a dialog box with two buttons (<em>Change Password</em> and <em>Sign Out)</em>. Upon clicking <em>Change password</em> you will see a new interface that will ask you for your current password and the new one. Type these current and new passwords and then click the blue <em>Change Password</em> button.
		</p>
		</td>
		
	</tr>
	<tr>
		<td><b>Change your password</b> dialog box</td>
		
	</tr>
</table>

   <p> © 2013 - 2015 <a href="http://www.mdpnp.org/" target="_blank" style="text-decoration:none">MD PnP Program</a></p>

</template>