<template name="help">

<h2>Feedback and Contact Information</h2> 

<div class="justifiedText">
	<p>In order to give us feedback to help improving this web tool you can <a href="{{ pathFor 'FeedbackForm' }}" >take our survey</a>.</p>

	<p>For a tutorial on how to use the Clinical Scenario Repository <span style="font-size:9px;vertical-align: text-top;">©</span> or to solve a problem check the FAQ section below. For further support, you can visit the 
	<a href="http://community.openice.info/forum/46788-gips-support/" target="_blank">Clinical Scenario Repository Community Site</a>.
	</p>

	<p>Do not forget that you can contact us <a href="mailto:info@mdpnp.org?Subject=Clinical%20Scenario%20Repository" target="_top">by email</a>.</p>

	<h2>Frequently Asked Questions on using the Clinical Scenario Repository <span style="font-size:12px;vertical-align: text-top;">©</span></h2> 
	<p><ul>
		<li><a href="#createaccount">How to create a new account</a></li>
		<li><a href="#login">How to log in in the CSR</a></li>
		<li><a href="#passwordchange">How to change your account's password</a></li>
		<li><a href="#passwordforgotten">What to do if I have forgotten my account's password?</a></li>
	</ul></p>

	<p><ul>
		<li><a href="#createnewscn">How to create a new clinical scenario or good idea</a></li>
		<li><a href="#tutorial">Is there a tutorial or guidance to help creating a new clinical scenario?</a></li>
		<li><a href="#uidquestion">What does "<em>Scenario UID</em>" mean and why am I seeing this?</a></li>
		<li><a href="#unsubmitted">What does "<em>unsubmitted</em>" mean when referring to a clinical scenario or good idea?</a></li>
		<li><a href="#workflow">What happens with the information that I submit on this site?</a></li>
	</ul></p>

	<p><ul>
		<li><a href="#track">How to keep track of your contributions</a></li>
		<li><a href="#approved">How to examine the clinical scenarios in the repository</a></li>
		<li><a href="#approved2">Why my contribution does not show under the "<em>approved</em>" scenarios?</a></li>
		
	</ul></p>

	<p><ul>
		<li><a href="#feedback">How to submit feedback to help improving this tool</a></li>
		<li><a href="#userprofile1">How to check your user's profile</a></li>
		<li><a href="#userporfile2">Why I can not update the information on my user's profile?</a></li>
		
	</ul></p>


	<!-- How to create a new account -->
	<p><a id="createaccount"></a><h3>How to create a new account</h3></p>
	<div class="divFAQanswer">
	<table>
		<tr>
			<td style="vertical-align: text-top; padding-right:5px;">By clicknig <em>"Sign in"</em> on the top left corner you sould be presented with a dialog box to sign in the repository. If you don't have yet an account and need to create a new one, simply click <em>create account</em> on the bottom right corner. That will switch the dialog box to offer you a small form to create a new account. The information required will be:
			<ul>
				<li>username</li>
				<li>email address</li>
				<li>password</li>
			</ul>
			All the fields are mandatory. 
			<p>Additionally you can use your Google account in order to automatically configure your new account. In order to do so, simply click on the red button on the top of the form <em>"Configure Google Login"</em>.	
			</p>
			</td>
			<td><img alt="Sign in" style="float:left;" src="/images/help/signInDialog.png" width="200" height="200"/></td>
			<td><img alt="MD PnP Logo" style="float:left;" src="/images/help/createAccount.png" width="175" height="200"/></td>
		</tr>
		<tr>
			<td></td>
			<td style="text-align:center"><b>Sign In</b> dialog box</td>
			<td style="text-align:center"><b>Create New Account</b> dialog box</td>
			
		</tr>
	</table>
	</div>

	<!-- How to log in in the CSR -->
	<p><a id="login"></a><h3>How to log in in the CSR</h3></p>
	<div class="divFAQanswer">
	In orther to sign in into the repository simply click <em>"Sign in"</em> on the top left corner and will be presented with a dialog box to sign in the repository. Enter your username or email address in the first text field and type your password on the one right underneath. Then click the blue <em>"Sign In"</em> button.

	</div>

	<!-- How to change your account's password -->
	<p><h3><a id="passwordchange"></a>How to change your account's password</h3></p>
	<div class="divFAQanswer">
	<table>
		<tr>
			<td style="vertical-align: text-top; padding-right:5px;">If you want to change your password simply <em>"log in"</em> into the repository and then click on your name on the top left corner. You will be presented with a dialog box with two buttons (<em>Change Password</em> and <em>Sign Out)</em>. Upon clicking <em>Change password</em> you will see a new interface that will ask you for your current password and the new one. Type these current and new passwords and then click the blue <em>Change Password</em> button.
			</td>
			<td><img alt="reset password" style="float:left;" src="/images/help/changePassword.png" width="150" height="100"/></td>
		</tr>
		<tr>
			<td></td>
			<td><b>Change your password</b> dialog box</td>
			
		</tr>
	</table>
	</div>

	<!-- Password forgotten -->
	<p><h3><a id="passwordforgotten"></a>What to do if I have forgotten my account's password?</h3></p>
	<div class="divFAQanswer">

		<div style="float:left;width:50%;margin-right:10px" > 
				If you ever forget your password simply click on the <em>Sign In</em> label (top left corner of the screen) and click <b>“forgot password”</b>. It will prompt you for your account’s associated email, where you will receive a link where you will be able reset your password. After that, you will be able to login normally.
		</div>
		<img alt="forgot password" style="align:right;margin-right:5px" src="/images/help/forgotPasswordLink.png" width="185" height="200"/>
		<img alt="forgot password" style="align:right;" src="/images/help/forgotPassword.png" width="185" height="200"/>

	</div>

	<!-- How to create a new clinical scenario or good idea -->
	<p><h3><a id="createnewscn"></a>How to create a new clinical scenario or good idea</h3></p>

	<div class="divFAQanswer">
	In order to create a new clinical scenario or good idea click on the <a href=" {{ pathFor 'newScenarioForm'}}" class="btn btn-tiny btn-blue pill"> Create New Scenario</a> option on the navigation bar (on the top of the screen). You will be redirected to the appropiate interface to start creating a new submission. There you will have contextual help that will help you to understand the steps required to fill in each field.
	</div>

	<!-- Is there a tutorial or guidance to help creating a new clinical scenario? -->
	<p><h3><a id="tutorial"></a>Is there a tutorial or guidance to help creating a new clinical scenario?</h3></p>

	<div class="divFAQanswer">
	
	<p>In order to guide you through the process of submitting a new clinical scenario or good idea, contextual help is provided by default on those interfaces where you can enter information about an event or good idea. You can hide and show these tips at your convenience, by clicking the green <span class="fa fa-toggle-on" title=""></span> <b>Show/Hide Guidelines</b> button.
	</p>

	<p> A sumbission consists on three steps, not all of them mandatory, which can be completed in any order. You can navigate through these steps by clicking the <span class="btn btn-tiny btn-blue">blue buttons</span> on the top of the screen. The <span class="btn btn-tiny btn-salmon pill">red button</span> indicates in which step you are. Additionally, you have the contextual help of the step icons  <img src="./images/help/navbadges.png" style="width:30%;height:30%;border:1px solid #259bbe;margin-top:2px;border-radius:5px"  alt="step icons">  They can also be clicked to go from one step forwar od backwards to another. 
	<ol>
		<li>Step #1: Give a title to your scenario and describe the event with your own words. This is the only mandatory step in the submission process.
		Do not forget to save your progress by clicking the green <b class="btn-mint btn-tiny pill">Save & Continue</b> button. Once you are done with this step, you are welcome to enter more detailed information about participants in the event (step 2) and/or describe a good idea or solution that might help to address the issue described (step 3). If you can not or do not wish to enter more information you can finish your submission by simply clicking the green <b class="btn-mint btn-tiny pill">Finish & Submit</b> button.
		</li>
		<li>Step #2: You can describe in greater detail other factors that contributed to the event. Simply navigate through the tabbed panel shown on this screen. You can visit the tabs in any order and you may not need to visit all of them to fully describe your scenario. You can describe:</li>
		<ul>
			<li>Hazards: Describe the current or possible risks to patient safety involved in this scenario.</li>
			<li>Equipment: Add further details about related/involved hardware, such as medical equipment.</li>
			<li>Lessons Learned: Explain what can be learned from this scenario and if the even could have been prevented.</li>
			<li>Roles (people) involved: Add further details about people involved in the scenario and their roles.</li>
			<li>Environments involved: Add further details about the places where this scenario can take place.</li>
			<li>Relevant References: Add any relevant online references to this scenario (FDA or Maude reports, articles or white papers, pieces of software and/or other documentation).</li>
		</ul>
		<li>Step #3: Describe you possible solution of good idea to address described in Step #1. You can also describe possible benefits and new risks of the new system or idea. None of the fields required in this step are mandatory.</li>
	</ol>
	</p>

	<p>Remember that you can follow these steps in any orther, and not all may be needed to accuratelly describe your scenario or good idea. Anytime that you think you have completed your submission simply click the green <b class="btn-mint btn-tiny pill">Finish & Submit</b> button.</p>
	</div>

	<!-- What does "<em>Scenario UID</em>" mean and why am I seeing this? -->
	<p><h3><a id="uidquestion"></a>What does "<em>Scenario UID</em>" mean and why am I seeing this?</h3></p>

	<div class="divFAQanswer">
	"<em>Scenario UID</em>" stands for "<em>Scenario Unique IDentifier</em>". This alphanumeric string of characters uniquely identifies your scenario in the repository's database. The fact that you are seeing this implies that your submission is already contained in the database. You might be seeing other <em>metainformation</em>  about your submission, like the time it was created or saved for the last time.
	</div>

	<!-- What does "<em>unsubmitted</em>" mean when referring to a clinical scenario or good idea? -->
	<p><h3><a id="unsubmitted"></a>What does "<em>unsubmitted</em>" mean when referring to a clinical scenario or good idea?</h3></p>

	<div class="divFAQanswer">
	"<em>Unsubmitted</em>" means that, even though your contribution is currently in the repository it has not been submitted to be reviewed and approved. Click the green <b class="btn-mint btn-tiny pill">Finish & Submit</b> button when you have completed your contribution in order to do so. You can learn more about <a href="#workflow">what happens once you submit your contribution</a>.
	</div>

	<!-- What happens with the information that I submit on this site? -->
	<p><h3><a id="workflow"></a>What happens with the information that I submit on this site?</h3></p>

	<div class="divFAQanswer">
	The information contained on your contributions is not automatically shared with all the website's visitors. After you click the green <b class="btn-mint btn-tiny pill">Finish & Submit</b> button a group of reviewers examine the content of the scenario, in order to deidentify any possible protected health information and make sure that the content is relevant to the Clinical Scenario Repository's aim. After the content of the scenario has been reviewed, it is made available (public) to other user's of the site. To learn more, visit our <a href="{{ pathFor 'privacyStatement' }}">Privacy Statement</a>.
	</div>

	<!-- How to keep track of your contributions -->
	<p><h3><a id="track"></a>How to keep track of your contributions</h3></p>

	<div class="divFAQanswer">
	In order to create a new clinical scenario or good idea click on the <a href=" {{ pathFor 'scenarioList'}}" class="btn btn-tiny btn-blue pill"> My Scenarios</a> option under the <em> Search Scenarios </em>on the navigation bar (on the top of the screen). You will be redirected to a page displaying your contributions in a table format.
	</div>

	<!-- How to examine the clinical scenarios in the repository -->
	<p><h3><a id="approved"></a>How to examine the clinical scenarios in the repository</h3></p>

	<div class="divFAQanswer">
	In order to examine the scenarios that have already been approved click on the <a href=" {{ pathFor 'approvedScenarioList'}}" class="btn btn-tiny btn-blue pill"> Approved Scenarios</a> option under the <em> Search Scenarios </em>on the navigation bar (on the top of the screen). You will be redirected to a page displaying all the approved contributions contributions in a table format.
	</div>

	<!-- Why my contribution does not show under the "<em>approved</em>" scenarios? -->
	<p><h3><a id="approved2"></a>Why my contribution does not show under the "<em>approved</em>" scenarios?</h3></p>

	<div class="divFAQanswer">
	As explained in the <a href="#workflow">What happens with the information that I submit on this site?</a> section, once you submit a scenario for approval this needs to be reviewed. This process may take time, since is not automatic. Reviewers will carefully examine the content of the scenario and then make it public.
	</div>

	<!-- How to submit feedback to help improving this tool -->
	<p><h3><a id="feedback"></a>How to submit feedback to help improving this tool</h3></p>

	<div class="divFAQanswer">
	The <em>Clinical scenario Repository © 2013 - 2015 <a href="http://www.mdpnp.org/" target="_blank" style="text-decoration:none">MD PnP Program</a></em> is currently in beta version. We would greatly appreciate your feedback in orther to help improving this tool. In order to provide feedback click on the <a href=" {{ pathFor 'FeedbackForm'}}" class="btn btn-tiny btn-blue pill"> Submit Feedback</a> option on the navigation bar. You will be redirected to an interface where you can answer a few questions targeted to mke us understand better your exparience using the site. You can also submit ideas, requests and/or complains. This short survey is absolutely no time-consuming and would greatly help us to improve the tool.
	</div>

	<!-- How to check your user's profile -->
	<p><h3><a id="userprofile1"></a>How to check your user's profile</h3></p>

	<div class="divFAQanswer">
	If you want to check the information under you user profile click on the <a href=" {{ pathFor 'userProfile'}}" class="btn btn-tiny btn-blue pill"> User Profile</a> option on the navigation bar. There you will see the information that you have shared with us, such as your username and your email address. There is a <b>UID</b>, which stands for <em>user Unique IDentificator</em>, a way of uniquely identify your user profile on the Clinical Scnario Repository's database. If you have any special roles (such as administrator or reviewer) you will see this information here too.
	</div>

	<!-- Why I can not update the information on my user's profile? -->
	<p><h3><a id="userprofile2"></a>Why I can not update the information on my user's profile?</h3></p>

	<div class="divFAQanswer">
	The <em>Clinical scenario Repository © 2013 - 2015 <a href="http://www.mdpnp.org/" target="_blank" style="text-decoration:none">MD PnP Program</a></em> is currently in beta version. At this stage there is no functionality that would requiere users to modify information on their user profile. Users can not change their username, but they can <a href="#passwordchange">change their account's password</a>. In future versions we will let users volunteer more relevant information about themselves, like thier occupation or why their interest on the  Clinical scenario Repository.
	</div>

   <!-- <p> © 2013 - 2015 <a href="http://www.mdpnp.org/" target="_blank" style="text-decoration:none">MD PnP Program</a></p> -->

</div>
</template>