<!-- @author https://github.com/diego2013 -->

<template name="home">

  <h2>Welcome to the Clinical Scenario Repository</h2>
  
<div class="justifiedText">
  <p>A <em>clinical scenario</em> is a brief description of a clinical situation or event.</p>
  
  <p>The Clinical Scenario Repository © pretends to fill a perceived gap in the way information about 
  	technological barriers and near-miss events that constitute a threat to patient safety are documented, 
  	shared and used to improve healthcare, along with the knowledge and <em>good ideas</em> that pose as potential 
  	solutions for them.
  </p>
  	
  <p>In spite of the abundance of adverse event reporting mechanisms and tools, most of them are only 
   triggered by very specific circumstances, such a patient death or medical device failure. Near misses, 
   potential hazards and events that only caused distress on the patient or do not fall in any of the event 
   categories that a specific reporting tool is gathering are almost impossible to document, track or share, 
   much less to take action upon them. The lack of data about these events may lead to think that the problem is actually non-existent
   or just anecdotal, difficulting any call to action to overcome the problem.
  </p>

  <p>In addition, current reporting systems are hospital or institution-based. These mechanisms are not 
  <em>horizontal</em> across organizations and information is not likely to be shared. Only the clinicians in that
  specific institution get access to the information collected by such reporting systems.  
  </p>
  
  <p>Clinicians and other clinical-related workers, such as clinical engineers, on the course of their day to day work 
  witness many of these kinds of events or perceive
 	technology gaps that if corrected could improve patient safety. 
 	Many of them, due to their dilated experience and knowledge, even envision possible solutions for 
 	these threats to patient safety or have good ideas that could be potentially developed to improve 
 	healthcare, but they lack the resources to share, validate and develop these good ideas.
  </p>
	
   <p>By sharing the knowledge about these events, technology gaps and good ideas to improve patient
   safety, other clinicians can become aware of the problem and validate its prevalence in healthcare and 
   the importance of developing a solution. By making this information available to other non-clinical 
   professionals, such as researchers and engineers, a wider set of interdisciplinary skills can be brought 
   into the process of discussing, evaluating and developing the potential solutions envisioned by the 
   submitters of these scenarios, or finding and creating completely new ones.
   </p>
	
	<p>The purpose of a <em>clinical scenario</em> is to provide a background and illustrate the need for the development 
	of technical solutions. Solutions for these scenarios will be generalizable and will create building blocks 
	for interoperability to address many other healthcare needs.
	</p>
	
	<p>The Clinical Scenario Repository is a publicly available tool for clinicians, clinical engineers 
	and the public to enter, revise, annotate, and maintain a shareable collection of clinical scenarios,
	adverse events, near misses, potential hazards, medical device and system integration fails and 
	other technology gaps that, if closed, could improve patient care. Submissions are de-identified by a 
	group of administrators, to clear any potential defamatory or protected information before being made 
	available to the public.
	</p>  
	
	<div>
     <table  cellpadding="15" style="margin-left:auto;margin-right:auto;">
	     <tr>
	     <td><a href="{{ pathFor 'new' }}" class="btn btn-small btn-dark-blue">Enter a new clinical scenario</a></td>
	     <td><a href="{{ pathFor 'approvedScenarioList' }}" class="btn btn-small btn-dark-blue">Examine the clinical scenario collection</a></td>
	     </tr>
	 </table>  
	</div>  

	<!-- <p> © 2013 - 2015 <a href="http://www.mdpnp.org/" target="_blank" style="text-decoration:none">MD PnP Program</a></p> -->
  </div>
</template>