<!-- @author https://github.com/diego2013 -->

<template name="privacyStatement">

   <h2>Privacy Statement</h2> 


<div class="justifiedText">
   <p>The MD PnP program hosts this website to promote a shareable data base of clinical scenarios to promote patient safety.</p>

   <p>The MD PnP program holds any individuals using this tool as liable for the content they submit to the repository and the use they give to the data retrieved from this website and the consequences of such actions.</p>
   
   <p> A group of administrators and clinical and non-clinical reviewers ensure that
    no protected health information, such as names of individuals or institutions, or defamatory information is contained in 
    any of the publicly available clinical scenarios. All contributions are subject to this revision process.
    Clinical information submitted to the repository must be deidentified and thus all submissions are subject to modification. 
    The submission and approval process for contributions does not guarantee that scenarios will be published as they were submitted.</p>
   
   <p>No information about users (contributors or otherwise), such as names, organizations and emails is shared with third parties.</p>

   <p>The only information shared about the repository's clinical scenarios and other contributions are the ones published after the peer-reviewed approval process.</p>

   <p>Users submitting clinical scenarios understand that the ultimate goal for their contributions is to share information to improve patient safety and thus their contributions might be published in the web and examined by a group of non-clinical and clinical reviewers.</p>
	
   <!-- <p> © 2013 - 2015 <a href="http://www.mdpnp.org/" target="_blank" style="text-decoration:none">MD PnP Program</a></p> -->

</div>

</template>