<!-- @author https://github.com/diego2013 -->

<template name="privacyStatement">
   <h2>Privacy Statement</h2> 

   <p>The MD PnP program hosts this website to promote a shareable data base of clinical scenarios.</p>
   
   <p>In this panel we should be explaining what the MDPnP is going to do with the information submitted in the scenarios
       and who is going to have access to it.
  
   No protected health information, such as names of individuals or institutions, or defamatory information is allowed in 
       the submission of clinical scenarios. Clinical information submitted to the repository should be deidentified.</p>
	
   <p> © 2013 - 2015 <a href="http://www.mdpnp.org/" target="_blank" style="text-decoration:none">MD PnP Program</a></p>

</template>