<!-- Template to list all users -->
<template name="userList">
	<p>Content of the database: {{totalCount}}  Users. {{PaginationCaption}}
	    <label style="float:right;"> Show 
      <select id="resultsPerPage" value="10">
        <option value ="10" {{selectResultPerPage "10"}} >10</option>
        <option value ="25" {{selectResultPerPage "25"}} >25</option>   
        <option value ="50" {{selectResultPerPage "50"}} >50</option>   
      </select>
      results per page </label>
    </p>

	<table  class="tablePijama">
		<tr class="btn-turquesa clickableHeader" id="cabecera" name="cabecera">
			<th name="username" >username</th>
			<th name="emails.address" >email</th>
			<th name="emails.verified">verified</th>
			<th name="roles.admin">current roles</th>
			<th name="_id">UID</th>
			<th name="createdAt">creation date</th>
		</tr>
	  {{#each usuarios}}
        {{ > userProf }}
      {{/each}}
	</table>

  <div style="margin-top:10px;">
    <ul class="pager">
        <li class="previous disabled" id="previousButton"> <a href="#">&larr; {{prevText}}</a> </li>
        <li class="next" id="nextButton"> <a href="#">{{nextText}} &rarr;</a> </li>
    </ul>
  </div> 

</template>

<!-- Template-row to display the info of a single user -->
<template name="userProf">
  <tr style="text-align: center">
  <td><button id="seeUser" style="width:100%" class="btn-orange clickableHeader" name={{_id}}>{{username}}</button></td>
  <td >{{getEmail emails}}</td>
  <td>{{isVerifiedEmail emails}}</td>
  <td align='center' >{{roles}}</td>
  <td>{{_id}}</td>
  <td align='center'>{{formatDate createdAt}} </td>
  </tr>
</template>