<!-- @author https://github.com/diego2013 -->

<!-- Template for the user profile -->
<template name="userProfile">
	<form id="userProfileForm" >

	{{#if currentUser}}
	<table style="border:0px solid black; background-color: #C2E0FF;">
	<tr>
		<span style="font-size:16px; text-decoration:underline; font-weight:bold;" >User Profile </span>
	</tr>
 		<tr style="vertical-align: text-top;" >
			<td style="width:500px; ">
					{{> userDataTemplate}}
			</td>
			<td>
					{{> contributionsStats}}
			</td>
		</tr>
	</table> 
	{{else}}
		{{> userProfileError}}
	{{/if}}


<!-- 		{{#if userLoggedIn}}
			{{> userDataTemplate}}
		{{else}}
			{{> userProfileError}}
		{{/if}} -->

	</form>

</template>


<!-- Template with the data associated to this user's profile -->
<template name="userDataTemplate"> 

		<p><strong>Username</strong> {{username}} <strong>UID</strong> {{_id}}</p>

		<p><strong>Member since </strong>{{formatDate createdAt}}</p>

		<p><strong>Email: </strong>{{getEmail emails}} <strong>verified: </strong>{{isVerifiedEmail emails}}</p>

		<p><strong>Roles: </strong>{{roles}}</p>


</template>

<!-- Template with stats about the user's contributons -->
<template name="contributionsStats">

	<b>Total number of scenarios: </b>  {{ myContributionsCountByState ''}} <br/>
	<table id="contributionsStatsTable">
		<tr>
			<td>{{ myContributionsCountByState 'unsubmitted'}}</td>
			<td>Scenarios pending of submission.</td>
		</tr>
		<tr>
			<td>{{ myContributionsCountByState 'submitted'}} </td>
			<td>Scenarios pending of approval. </td>
		</tr>
		<tr>
			<td>{{ myContributionsCountByState 'approved'}}</td>
			<td>Scenarios approved. </td>
		</tr>
	</table>
	
<!-- 	 Scenarios pending of submission. <br/> 
	Scenarios pending of approval. <br/> 
	 Scenarios approved. <br/>  -->

</template>

<!-- Template to display error message -->
<template name="userProfileError">
	There is a problem loading this profile.

	<p>Maybe you need to be logged in?</p> 
</template>