<!-- @author https://github.com/diego2013 -->

<!-- Template for the user profile -->
<template name="userProfile">
	<form id="userProfileForm" >

		{{#if userLoggedIn}}
			{{> userDataTemplate}}
		{{else}}
			{{> userProfileError}}
		{{/if}}

	</form>

</template>


<!-- Template with the data associated to this user's profile -->
<template name="userDataTemplate"> 
	<strong>User Profile</strong> <br/>
	
	{{#if currentUser}}
		<p><strong>Username</strong> {{username}} <strong>UID</strong> {{_id}}</p>

		<p><strong>Member since </strong>{{formatDate createdAt}}</p>

		<p><strong>Email: </strong>{{getEmail emails}} <strong>verified: </strong>{{isVerifiedEmail emails}}</p>

		<p><strong>Roles: </strong>{{roles}}</p>
	{{/if}}

</template>

<!-- Template to display error message -->
<template name="userProfileError">
	There is a problem loading this profile.

	<p>Maybe you need to be logged in?</p> 
</template>