<!-- @author https://github.com/diego2013 -->

<!-- Template for the user profile -->
<template name="userProfile">

<div class="padding-bottom-10">
	<form id="userProfileForm" >

	{{#if currentUser}}
	<table style="border:0px solid black; background-color: #C2E0FF;">
		<tr>
			<span style="font-size:16px; text-decoration:underline; font-weight:bold;" >User Profile </span>
		</tr>
 		<tr style="vertical-align: text-top;" >
			<td style="width:500px; ">
					{{> userDataTemplate}}
			</td>
			<td>
					{{> contributionsStats}}
			</td>
		</tr>
	</table> 
	<div style="margin-top: 10px">
		{{> userPreferencesStats}}
	</div>
	{{else}}
		{{> userProfileError}}
	{{/if}}


<!-- 		{{#if userLoggedIn}}
			{{> userDataTemplate}}
		{{else}}
			{{> userProfileError}}
		{{/if}} -->

	</form>
</div>

</template>


<!-- Template with the data associated to this user's profile -->
<template name="userDataTemplate"> 

		<p><strong>Username</strong> {{username}} <strong>UID</strong> {{_id}}</p>

		<p><strong>Member since </strong>{{formatDate createdAt}}</p>

		<p><strong>Email: </strong>{{getEmail emails}} <strong>verified: </strong>{{isVerifiedEmail emails}}</p>

		<p><strong>Roles: </strong>{{roles}}</p>


</template>

<!-- Template with stats about the user's contributons -->
<template name="contributionsStats">

	<label style="text-decoration: underline;">Total number of scenarios: </label> {{ myContributionsCountByState ''}} <br/>
	<table id="contributionsStatsTable">
		<tr>
			<td>{{ myContributionsCountByState 'unsubmitted'}}</td>
			<td>Scenarios pending of submission</td>
			<td>({{myScenariosRatioByState 'unsubmitted'}}% of total)</td>
		</tr>
		<tr>
			<td>{{ myContributionsCountByState 'submitted'}} </td>
			<td>Scenarios pending of approval </td>
			<td>({{myScenariosRatioByState 'submitted'}}% of total)</td>
		</tr>
		<tr>
			<td>{{ myContributionsCountByState 'approved'}} </td>
			<td>Scenarios approved </td>
			<td>({{myScenariosRatioByState 'approved'}}% of total)</td>
		</tr>
	</table>
	
<!-- 	 Scenarios pending of submission. <br/> 
	Scenarios pending of approval. <br/> 
	 Scenarios approved. <br/>  -->

</template>

<!-- Template to display error message -->
<template name="userProfileError">
	There is a problem loading this profile.

	<p>Maybe you need to be logged in?</p> 
</template>

<!-- Template for the user preferences -->
<template name="userPreferencesStats">
	<span style="font-size:16px; text-decoration:underline; font-weight:bold;" >User Preferences </span>
	<div>Customize views, alerts and other preferences</div>
	<table >
		<tr><td class="paddingLeft3">
				<input type="checkbox" id="showcontexthelp" {{checkshowcontexthelp}}>
				&nbsp;Show contextual help by defult
				<span class="fa fa-question-circle" title="Will show/hide the guidelines when creating a new scenario"></span>
		</td></tr>
		<tr><td>
			Show by default 
			<select id="resultsPerPageScenarios">
		        <option value ="10" {{selectedResultPerPageScenarios "10"}} >10</option>
		        <option value ="25" {{selectedResultPerPageScenarios "25"}} >25</option>   
		        <option value ="50" {{selectedResultPerPageScenarios "50"}} >50</option> 
		    </select>
			results per page when searching scenarios
		</td></tr>
		<!-- repeat for users list, if the current user has priviledges for that functionality -->
		<!-- repeat for feedback reports list, if the current user has priviledges for that functionality -->
	</table>

	<button type="button" id="savepreferences" class="btn btn-small btn-mint">
    	<span class="fa fa-save"></span>
                Save preferences
    </button>
	
</template>