<!-- Main template for a Scenario -->
<template name="NewScenarioForm">
  <form id="newScenarioForm" class="new-scenario">
    <div class="main">
        {{> Template.dynamic template=newScenarioStep}}
    </div>



    <!--div here for control buttons -->
    <div id="controlButtons">
    	<!-- 
        <button type="submit" id="saveScenarioButton" name="saveButton" title="Save Scenario" value="Save">Save</button>
    	<button type="submit" id="submitScenarioButton" name="submitButton" title="Submit for approval" value="Submit" >Submit</button> 
        -->
        
        <input type="submit" id="saveScenarioButton" name="saveButton" title="Save the chages in this scenario" value="Save" />
        <button type="button" id="goToStep1" class="hiddenButton" name="none1" title="Go to the Basic Information panel" >Go back to basic information</button>
        <button type="button" id="goToStep2" name="none2" title="Go to the Advanced Information panel" >Add further details</button> 
        <button type="button" id="goToStep3" name="none3" title="Propose a solution for this scenario" >Propose a solution</button>
        <input type="submit" id="submitScenarioButton" name="submitButton" title="Submit for approval" value="Finish and Submit" />
        
        
        
    </div>
  </form>
</template>

<!-- Template for the first step of the New Scenario submission: Basic info -->
<template name="scenarioFormBasicInfo">
        
    <span style="font-size:12pt;"><b>Guidelines</b></span>
    <ul>
        <li>A brief explanation of an event is enough to describe a scenario. Try to keep information relevant, short and simple. Click o"example" to see an illustrative example on how an actual scenario would complete each field.</li>
        <li>Do not include protected health information. Omit actual names of individuals or institutions.</li>
        <li>Try avoid submitting scenarios redundant to the ones already in the repository.</li>
        <li>Once you have described the risk to patient safety you are welcome, but not required, to enter some additional information by clicking the "Add Further Details" button.</li>
    </ul>  


    {{#if printScnearioMetainfo}}
        <b>Scenario UID:</b> {{_id}} <b>Saved last:</b> {{formattedModifiedDate}}<br/>
    {{/if}}

    <label>Title</label>
    <textarea type="text" id="title" name="title" rows="1" cols="75" placeholder="Type to add a title">{{title}}</textarea><br/>
    <label>Description</label><br/>
    <textarea type="text" id="description" name="description" rows="4" cols="100" placeholder="Type to add a description" >{{description}}</textarea><br/>

</template>

<!-- Template for the second step of the New Scenario submission: Advanced info -->
<template name="scenarioFormAdvancedInfo">
    <span style="font-size:12pt;"><b>Additional Information</b></span>
    <p>Step 2 of 3 (optional): Add additional information about the scenario.</p>
    <ul>
        <li>Add further details about contributing actors or events that happened or could happen in this kind of scenario.</li>
        <li>No fields are mandatory. Complete the information in the tabs that you think is relevant for the case and submit when it is ready.</li>
        <li>Tabs can be visited in any order, and not all of them may be needed to be visited in order to accurately describe the scenario.</li>
    </ul>
    *** Here goes a tabbed panel *** <br/>
    *** This template needs to be completed (Sorry). ***
</template>

<!-- Template for the Third step of the New Scenario submission: Solution -->
<template name="scenarioFormSolution">
    <span style="font-size:12pt;"><b>Share a Good Idea</b></span>
    <p>Step 3 of 3 (optional): Propose a solution for a barrier in patient safety or share a <em>good idea</em>.</p>
    <ul>
        <li>Share a good idea to improve Healthcare, clinical processes or patient safety. </li>
        <li>Describe, in any degree of detail you feel comfortable with, what you think could provide a solution for a barrier in patient safety.</li>        
        <li>Feel welcome to address early any potential new risks in the workflow or systems introduced by the solution.</li>
        <li>Discuss or highlight the benefits of your proposed solution or idea.</li>
    </ul>

    <label>Title: </label>
    <label>{{title}}</label><br/>

    <label>Describe Your Good Idea or Solution</label><br/>
    <textarea type="text" id="solutionDescription" rows="1" cols="75" >{{solutionDescription}}</textarea><br/>
    <label>Benefits of the New System</label><br/>
    <textarea type="text" id="benefitsDescription"  rows="1" cols="75" >{{benefitsDescription}}</textarea><br/>
    <label>Foreseen Risks of the New System</label><br/>
    <textarea type="text" id="risksDescription"  rows="1" cols="75" >{{risksDescription}}</textarea><br/>
</template>