<!-- Template to list all scenarios -->
<template name="scenarioListTabel">
	<p>Content of the database: {{scenarios.count}} scenarios</p>
	<table >
  <tr>
    <th></th>
    <th>created by</th>
    <th></th>
    <th>Scenario UID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Saved last</th>
  </tr>
  		{{#each scenarios}}
   	    	 <tr> {{ > scenarioRow }} </tr>
   	    {{/each}}
    </table>
</template>

<!-- template with the informatio of a single scenario -->
<template name="scenarioRow">
  
  	<td><button class="delete">DELETE</button></td>
  	<td>{{username}}</td>
  	<td><button id="gothere" class="other" name={{_id}}>Visit Scenario</button> </td>
  	<td>{{_id}} </td>
  	<td>{{trimLength title 45}} </td>
  	<td>{{trimLength description 50}} </td>
  	<td>{{status}} </td>
    <td>{{formatDate modifiedAt}}  </td>

</template>