<!-- Template for the user profile -->
<template name="userProfile">
	<form id="userProfileForm" >

		{{#if userLoggedIn}}
			{{> userDataTemplate}}
		{{else}}
			{{> userProfileError}}
		{{/if}}

	</form>

</template>


<!-- Template with the data associated to this user's profile -->
<template name="userDataTemplate"> 
	<strong>User Profile</strong> <br/>
	{{#if currentUser}}
		<p>Hello {{username}} </p>

		<p><strong>Member since </strong>{{formatDate createdAt}}</p>

		<p><strong>email: </strong>{{useremail}} <strong>verified: </strong>{{verifiedUseremail}}</p>
	{{/if}}

</template>

<!-- Template to display error message -->
<template name="userProfileError">
	There is a problem loading this profile.

	<p>Maybe you need to be logged in?</p> 
</template>

<!-- Template to list all users-->
<template name="userList">
	<p>Content of the database: Users</p>
    <ul>
  	  {{#each usuarios}}
        {{ > userProf }}
      {{/each}}
    </ul>
</template>

<template name="userProf">
  <li>
  	<span>username: {{username}}. ID: {{_id}}. Created at: {{createdAt}} </span>
  </li>
</template>