<template name="exampleScenarioStep1">

<div>
<p class="btn-orange btn-medium" style="width:98%">Example of a basic scenario</p>

<p>The minimum amount of information for a clinical scenario is the description of the event. This is the first step of the submission of a new scenario clinical scenario, where we describe <b>what happened</b>. This information (along with a <em>title</em> for the scenario) is mandadory. 
</p>

<ol>
	<li>Add a title to sumarize the content of the scenario. It does not need to be verbose or sofisticated.</li>
	<li>Describe the clinical event (or the clinical event that motivates a good idea) with your own words.</li>
</ol>

</div>

    <label>Title of the Scenario </label>
    <br/>

    <textarea type="text" id="title" name="title" rows="1" cols="100" readonly>Delayed detection of respiratory compromise in patient under PCA</textarea><br/>
    <label>Description of the Scenario </label><br/>
    <textarea type="text" id="description" name="description"  class="textAreaStyle" readonly>A 49-year-old woman underwent an uneventful total abdominal hysterectomy and bilateral salpingo-oophorectomy. Postoperatively, the patient complained of severe pain and received intravenous morphine sulfate in small increments. She began receiving a continuous infusion of morphine via a patient controlled analgesia (PCA) pump. 

A few hours after leaving the PACU [post anesthesia care unit] and arriving on the floor, she was found pale with shallow breathing, a faint pulse, and pinpoint pupils. The nursing staff called a 'code,' and the patient was resuscitated and transferred to the intensive care unit on a respirator [ventilator]. Based on family wishes, life support was withdrawn and the patient died. 

Review of the case by providers implicated a PCA overdose. Delayed detection of respiratory compromise in PATIENTS undergoing PCA therapy is not uncommon because monitoring of respiratory status has been confounded by excessive nuisance alarm conditions (poor alarm condition specificity).
</textarea><br/>



</template>