<template name="exampleScenarioStep3">

<div>

<p class="btn-orange btn-medium" style="text-align:center">
    <span style="font-size: 20px">Example of a scenario's solution or good idea</span><br/>
    <span style="font-size: 10px">Do not try to edit this page or continue your work on this page</span>
</p>

<p>This step is completey <b>optional</b>. You are encouraged to submit a clinical scenario or description of an event even if you do not envision a possible solution or <em>good idea</em> for it. Solutions and good ideas just take one step further the notion of "<em>lesson learned</em>" and invite to describe or brainstorm what would it take to prevent or mitigate the event or situation described in the clinical scenario.
</p>

<ol>
	<li>Describe with your own words your possible solution for the clinical event described in the first step.</li>
	<li>Describe and discuss any benefits of the new systme or solution.</li>
	<li>Describe and discuss any possible new risks of the new system or solution.</li>
</ol>

</div>

    <b>Scenario Title: </b> <span class="scenarioTitleCaption"> Delayed detection of respiratory compromise in patient under PCA</span>
    <span class="fa fa-question-circle color-purple" title="This is just a reminder of the title of the scenario you are submitting"> </span>
    <label>{{title}}</label><br/>
    <label>Describe Your Good Idea or Solution</label>
   
    <br/>

    <textarea type="text" id="solutionDescription" rows="6" class="solutionTextAreaStyle" style="margin-top:3px" readonly>While on the PCA infusion pump, the PATIENT is monitored with a respiration rate monitor and a pulse oximeter. If physiological parameters move outside the pre-determined range, the infusion is stopped and clinical staff is notified to examine the PATIENT and restart the infusion if appropriate. The use of two independent physiological measurements of respiratory function (oxygen saturation and respiratory rate) enables a smart algorithm to optimize sensitivity, thereby enhancing the detection of respiratory compromise while reducing nuisance alarm conditions.
    </textarea>
    <br/>

    <label>Benefits of the New System</label>
    <br/>

    <textarea type="text" id="benefitsDescription"  rows="5" class="solutionTextAreaStyle" style="margin-top:3px" readonly>
    	
    </textarea>
    <br/>

    <label>Foreseen Risks of the New System</label>
    <br/>

    <textarea type="text" id="risksDescription"  rows="5" class="solutionTextAreaStyle" style="margin-top:3px" readonly>
    </textarea>
    <br/>

    <p class="btn-orange btn-medium" style="text-align:center">
        <span style="font-size: 20px">Example of a scenario's solution or good idea</span><br/>
    </p>

</template>