<!-- @author https://github.com/diego2013 -->

<!-- Template for the Find by ID functionality -->
<template name="findByIDTemplate">
	<form id="findByIDForm" >
		<input type="text" id="findByIDbox" name="findBox"  placeholder="Enter a Scenario ID" autofocus/>
		<button type="button" id="searchByIDButton"  title="Search for a scenario with thr given ID" >Search</button> 
	</form>

</template>

<template name="findByIDErrorTemplate">
The scenario with ID: {{scenarioID}} you requested is not available.<br/>
Either this scenario does not exist or you lack the permissions to access it (only <b>approved</b> scenarios are publicly available). <br/>
Try looking for a different scenario.

	<form id="findByIDForm" >
		<input type="text" id="findByIDbox" name="findBox"  placeholder="Enter a Scenario ID" autofocus/>
		<button type="button" id="searchByIDButton"  title="Search for a scenario with thr given ID" >Search</button> 
	</form>

</template>