<!-- @author https://github.com/diego2013 -->

<!-- Main template for a Scenario -->
<template name="NewScenarioForm">
  <form id="newScenarioForm" class="new-scenario">
    
    <!--div here for control buttons -->
    <div id="controlButtons" style="text-align:center;">

        {{#if isScenarioEditable}}
        <a href="#"  id="saveScenarioButton" class="btn btn-small btn-mint" title="Save the chages in this scenario" >Save & Continue</a>
        {{/if}}
        {{#if getExpertMode}}
        <a href="#"  id="showGuidelines"  class="btn btn-small btn-dark-grey" >Hide Guidelines</a>
        {{else}}
        <a href="#"  id="showGuidelines"  class="btn btn-small btn-dark-grey" >Show Guidelines</a>
        {{/if}}
        <a href="#"  id="goToStep1"  class="btn btn-small btn-salmon" title="Go to the Basic Information panel" >Step 1: Basic Information</a>
        <a href="#"  id="goToStep2"  class="btn btn-small btn-blue" title="Go to the Advanced Information panel" >Step 2: Add Further Details</a>
        <a href="#"  id="goToStep3"  class="btn btn-small btn-blue" title="Propose a solution for this scenario" >Step 3: Propose a Solution</a>
        {{#if isScenarioEditable}}
        <a href="#"  id="submitScenarioButton" class="btn btn-small btn-mint" title="Submit for approval" >Finish & Submit</a>
        <a href="#"  id="deleteButton" class="btn btn-small btn-mint" title="Delete this scenario" >Delete</a>
        {{/if}}

    </div>

    <!-- Div here for main content-->
    <div>
        {{> Template.dynamic template=newScenarioStep}}
    </div>

  </form>
</template>

<!-- Templates to move between the different scenario submission steps -->
<!-- ================================================================= -->

<!-- Template for the first step of the New Scenario submission: Basic info -->
<template name="scenarioFormBasicInfo">
        
    <div id="guidelinesDiv" class="{{getGuidelinesButtonClass}}">    
    <span style="font-size:12pt;"><b>Guidelines</b></span>
    <ul>
        <li>A brief explanation of an event is enough to describe a scenario. Try to keep information relevant, short and simple. Click <a href="{{ pathFor 'exampleScenario_step1' }}" target="_blank" class="exampleLabel"> see an example</a> to see an illustrative example on how an actual scenario would complete each field.</li>
        <li>Do not include protected health information. Omit actual names of individuals or institutions.</li>
        <li>Try avoid submitting scenarios redundant to the ones already in the repository.</li>
        <li>Don't forget to <b>save your progress</b>. Click the green <b class="btn-mint btn-tiny" style="border-radius:5px;">Save & Continue</b> button.</li>
        <li>Once you have described the risk to patient safety you are welcome, but not required, to enter some additional information by clicking the <b class="btn-blue btn-tiny" style="border-radius:5px;">Add Further Details</b> button.</li>
        <li>Switch between <b>expert</b> and <b>verbose mode</b>: if the interface becomes too verbose, remember that you can hide or show these tips at your conveninece, by clicking the black <b class="btn-dark-grey btn-tiny" style="border-radius:5px;">Show/Hide Guidelines</b> button.</li>
    </ul>  
    </div>


    {{#if printScenarioMetainfo}}
       {{ > scenarioAuditInfo }} 
    {{/if}}

    <label>Title of the Scenario <span class="red-asterisk">*</span></label>
    <a href="{{ pathFor 'exampleScenario_step1' }}" target="_blank" class="exampleLabel" style="margin-left:10px"> see an example</a>
    <br/>
    <!-- {{#if editableScn}} 
        <textarea type="text" id="title" name="title" rows="1" cols="100" placeholder="Type to add a title" >{{title}}</textarea><br/>
    {{else}}
        <textarea type="text" id="title" name="title" rows="1" cols="100" placeholder="Type to add a title" readonly>{{title}}</textarea><br/>
    {{/if}} -->

    <textarea type="text" id="title" name="title" rows="1" cols="100" placeholder="Type to add a title" style="margin-top:3px" {{isScenarioReadOnly}}>{{title}}</textarea>
    <br/>

    <label>Description of the Scenario <span class="red-asterisk">*</span></label>
    <a href="{{ pathFor 'exampleScenario_step1' }}" target="_blank" class="exampleLabel" style="margin-left:10px"> see an example</a>
    <br/>
    <textarea type="text" id="description" name="description"  class="textAreaStyle" placeholder="Type to add a description" style="margin-top:3px" {{isScenarioReadOnly}}>{{description}}</textarea><br/>

    <p> The <span class="red-asterisk">red asterisk (*)</span>  in the form indicates a mandatory field.</p>

</template>

<!-- Template for the second step of the New Scenario submission: Advanced info -->
<template name="scenarioFormAdvancedInfo">
    
    <div id="guidelinesDiv" class="{{getGuidelinesButtonClass}}">  
    <span style="font-size:12pt;"><b>Additional Information</b></span>
    <p>Step 2 of 3 (optional): Add additional information about the scenario.</p>
    <ul>
        <li>Add more detailed information about contributing factors or events that happened or could happen in this or very similar scenarios.</li>
        <li>This step is completely optional. No fields are mandatory. Complete the information in the tabs that you think are relevant to describe the event and ignore those for which you do not have relevant information to add.</li>
        <li>Tabs can be visited in any order. Visting all of them may not be necessary to accuratelly describe the scenario. </li>
        <li>Don't forget to save your progress. Click the green <b class="btn-mint btn-tiny" style="border-radius:5px;">Save & Continue</b> button.</li>
        <li>Switch between <b>expert</b> and <b>verbose mode</b>: if the interface becomes too verbose, remember that you can hide or show these tips at your conveninece, by clicking the black <b class="btn-dark-grey btn-tiny" style="border-radius:5px;">Show/Hide Guidelines</b> button.</li>
    </ul>
    </div>

    {{#if printScenarioMetainfo}}
        {{ > scenarioAuditInfo }} 
    {{/if}}

    <div id="setp2tab" class="tabbar">
          <a href="#"  id="hazardsButton" class="tab selectedTab" title="check the Hazards tab" data-step="advancedDetailsHazards">Hazards</a>
          <a href="#"  id="equipmentButton"  class="tab" title="check the Equipment tab" data-step="advancedDetailsEquipment">Equipment</a>
          <a href="#"  id="lessonsLearnedButton" class="tab" title="check the Lessons Learned tab" data-step="advancedDetailsLessonsLearned">Lessons Learned</a>
          <a href="#"  id="rolesButton" class="tab" title="check the Roles Involved tab" data-step="advancedDetailsRoles">Roles Involved</a>
          <a href="#"  id="environmentsButton" class="tab" title="check the Environments Involved tab" data-step="advancedDetailsEnvironments">Environments Involved</a>
          <a href="#"  id="referencesButton" class="tab" title="check the References tab" data-step="advancedDetailsReferences">Relevant References</a>
          <!-- <label class="{{getGuidelinesButtonClass}}" style="float:right;" > &#8592; visit any of these tabs in any specific order</label> -->
    </div>

    <div>
        {{> Template.dynamic template=advancedDetailsTemplateName}}
    </div>
</template>

<!-- Template for the Third step of the New Scenario submission: Solution -->
<template name="scenarioFormSolution">

    <div id="guidelinesDiv"  class="{{getGuidelinesButtonClass}}">  
    <span style="font-size:12pt;"><b>Share a Good Idea</b></span>
    <p>Step 3 of 3 (optional): Propose a solution for a barrier in patient safety or share a <em>good idea</em>.</p>
    <ul>
        <li>Share a good idea to improve Healthcare, clinical processes or patient safety. Click <a href="{{ pathFor 'exampleScenario_step3' }}" target="_blank" class="exampleLabel"> see an example</a> to see an illustrative example on how an actual scenario would complete each field.</li>
        <li>Describe, in any degree of detail you feel comfortable with, what you think could provide a solution for a barrier in patient safety.</li>   
        <li>Feel welcome to address early any potential new risks in the workflow or systems introduced by the solution.</li>
        <li>Discuss or highlight the benefits of your proposed solution or idea.</li>
        <li>Don't forget to save your progress. Click the green <b class="btn-mint btn-tiny" style="border-radius:5px;">Save & Continue</b> button.</li>
        <li>Switch between <b>expert</b> and <b>verbose mode</b>: if the interface becomes too verbose, remember that you can hide or show these tips at your conveninece, by clicking the black <b class="btn-dark-grey btn-tiny" style="border-radius:5px;">Show/Hide Guidelines</b> button.</li>
    </ul>
    </div>


    {{#if printScenarioMetainfo}}
        {{ > scenarioAuditInfo }}
    {{/if}}

    <label><b>Scenario Title: </b></label>
    <label>{{title}}</label><br/>
    <label>Describe Your Good Idea or Solution</label>
    <a href="{{ pathFor 'exampleScenario_step3' }}" target="_blank" class="exampleLabel" style="margin-left:10px"> see an example</a>
    <br/>

    <textarea type="text" id="solutionDescription" rows="6" class="solutionTextAreaStyle" style="margin-top:3px" {{isScenarioReadOnly}}>{{solutionDescription}}</textarea><br/>
    <label>Benefits of the New System</label>
    <a href="{{ pathFor 'exampleScenario_step3' }}" target="_blank" class="exampleLabel" style="margin-left:10px"> see an example</a>
    <br/>

    <textarea type="text" id="benefitsDescription"  rows="5" class="solutionTextAreaStyle" style="margin-top:3px" {{isScenarioReadOnly}}>{{benefitsDescription}}</textarea><br/>
    <label>Foreseen Risks of the New System</label>
    <a href="{{ pathFor 'exampleScenario_step3' }}" target="_blank" class="exampleLabel" style="margin-left:10px"> see an example</a>

    <br/>
    <textarea type="text" id="risksDescription"  rows="5" class="solutionTextAreaStyle" style="margin-top:3px" {{isScenarioReadOnly}}>{{risksDescription}}</textarea><br/>
</template>

<!-- template to display some auditing information about the scenario -->
<template name="scenarioAuditInfo">
        <div class="scenarioAuditInfoSection"> 
        <b>Scenario UID:</b> {{_id}} <b>Saved last:</b> {{formatDateTime modifiedAt}} <b>Status:</b> {{showScenarioStatus}}
        </div>
</template>


<!-- Templates for step 2: advanced details: -->
<!-- ======================================= -->

<!-- Template for step 2: advanced details: Hazards-->
<template name="advancedDetailsHazards" >
{{#if isScenarioEditable}}
   {{> hazardInput}}
   <hr>
{{/if}}

    <span>Current hazards of the scenario</span>
    <table >
        <tr class ="btn-turquesa">
            <th>Description</th>
            <th>Expected risks</th>
            <th>Severity <span style="font-size:8px">(per AHRQ Scale)</span></th>
        </tr>
        {{#each hazardEntryList}}
            {{> hazardEntry}} 
        {{/each}}
    </table>

</template>

<!-- Template ot display the input form  to create a new hazard -->
<template name="hazardInput">
     <p>Describe current or possible risks to patient safety</p>

    <table class="div-chooseClinical" border="1">
        <tr>
            <th>Description</th>
            <th title="Likeness to Predict this Hazard">Predictability</th>
            <th title="Level of Harm to Patient (per AHRQ Scale)">Severity <a href='#' id="idAhrqLevels" style="font-size:10px">(per AHRQ Scale)</a></th>
        </tr>
        <tr>
        
            <td><textarea type="text" id="hazardDescription" rows="3" cols="115" placeholder="Type to add a Description" ></textarea></td>
            <td><select id="hazardRisk">
                <option value="Unknown" autofocus>Unknown</option>
                <option value="Expected">Expected</option>
                <option value="Unexpected">Unexpected</option>
                </select>
            </td>
            <td><select id="hazardSeverity">
                <option value ="Unknown" autofocus>Unknown</option>
                <option value ="Unsafe Condition">Unsafe Condition</option>
                <option value ="Near Miss">Near Miss</option>
                <option value ="No Harm">No Harm</option>
                <option value ="Emotional Distress or Inconvenience">Emotional Distress or Inconvenience</option>
                <option value ="Additional Treatment">Additional Treatment</option>
                <option value ="Temporary Harm">Temporary Harm</option>
                <option value ="Permanent Harm">Permanent Harm</option>
                <option value ="Severe Permanent Harm">Severe Permanent Harm</option>
                <option value ="Death">Death</option>       
            </select>               
            </td>      
        </tr>
    </table>


    <button type="button" id="addNewHazard" class="btn btn-small btn-mint">Add This Hazard Description</button> <br/>

</template>

<!-- Template ot display the info of a single hazard-->
<template name="hazardEntry">
  <tr class="tablePijamaEvenRow">
    <td style="width:60%"><label>{{hazardDescription}}</label></td>
    <td><label>{{hazardRisk}}</label></td>
    <td><label>{{hazardSeverity}}</label></td>
    <!--<td><label>{{id}}</label></td>-->
    {{#if isScenarioEditable}}
    <td> <button style="width:100%;" class="btn-red" id="deleteHazard">Delete</button></td>
    {{/if}}
   </tr>
</template>

<!-- Template for step 2: advanced details: Equipment-->
<template name="advancedDetailsEquipment" >
 {{#if isScenarioEditable}}
    {{ > equipmentInput}} 
    <hr>
 {{/if}}   

    <br/><span>List of hazardrous equipment included in the scenario</span>

    <table >
        <tr class ="btn-turquesa">
            <th><label>Device Type</label></th>
            <th ><label>Manufacturer</label></th>
            <th ><label>Model</label></th>
            <th><label>Rosetta - Unique ID</label></th>
            <th><label>Training related problem</label></th>
            <th><label>Instructions related problem</label></th>
            <th><label>Confusing device usage</label></th>
            <th><label>Software related problem</label></th>
            <th><label>Hardware related problem</label></th>
        </tr>
        {{#each equipmentEntryList}}
            {{> equipmentEntry}} 
        {{/each}}
    </table>  

</template>


<!-- Template ot display the input form  to create a new equipment -->
<template name="equipmentInput">
    <p>Add further details about related/involved hardware</p>

    <table class="div-chooseClinical">
        <tr>
            <th><label>Device Type</label></th>
            <th><label>Manufacturer</label></th>
            <th><label>Model</label></th>
            <th><label>Rosetta - Unique ID</label> <a href="http://accessgudid.nlm.nih.gov/about-gudid" target="_blank">(GUDID)</a></th>
            <th><label></label></th>
            <th><label></label></th>
            <th><label></label></th>
            <th><label></label></th>
            <th><label></label></th>
        </tr>
        <tr>
        <td><textarea class="equipTextArea" type="text" id="deviceType" rows="1" cols="15" placeholder="Type to add a device type" ></textarea></td>
        <td><textarea class="equipTextArea" type="text" id="deviceManufacturer" rows="1" cols="15" placeholder="Type to add a device manufacturer" ></textarea></td>
        <td><textarea class="equipTextArea" type="text" id="deviceModel" rows="1" cols="15" placeholder="Type to add a device model" ></textarea></td>
        <td><textarea class="equipTextArea" type="text" id="deviceRosetta" rows="1"  placeholder="Type to add the device's unique ID" ></textarea></td>
        <td><input type="checkbox" id="trainingRelated">Trainig related problem</td>
        <td><input type="checkbox" id="instructionsRelated">Instructions related problem</td>
        <td><input type="checkbox" id="confusingRelated">Confusing device usage</td>
        <td><input type="checkbox" id="softwareRelated">Software related problem</td>
        <td><input type="checkbox" id="hardwareRelated">Hardware related problem</td>
            
        </tr>
        
    </table>

    <button type="button" id="addNewEquipment" class="btn btn-small btn-mint">Add This Equipment Description</button>

</template>

<!-- Template to display the info of a single equipment entry-->
<template name="equipmentEntry">
  <tr class="tablePijamaEvenRow">
    <td><label>{{deviceType}}</label></td>
    <td><label>{{manufacturer}}</label></td>
    <td><label>{{model}}</label></td>
    <td><label>{{rosetta}}</label></td>
    <td class="narrowColumn">{{#if trainingRelated}} <label>yes</label> {{else}} <label>no</label> {{/if}}</td>
    <td class="narrowColumn">{{#if instructionsRelated}} <label>yes</label> {{else}} <label>no</label> {{/if}}</td>
    <td class="narrowColumn">{{#if confusingRelated}} <label>yes</label> {{else}} <label>no</label> {{/if}}</td>
    <td class="narrowColumn"> {{#if softwareRelated}} <label>yes</label> {{else}} <label>no</label> {{/if}}</td>
    <td class="narrowColumn">{{#if hardwareRelated}} <label>yes</label> {{else}} <label>no</label> {{/if}}</td>
    <!--<td><label>{{id}}</label></td>-->
    {{#if isScenarioEditable}}
    <td style="width:5%"> <button type="button" class="btn-red" style="width:100%" id="deleteEquipment">Delete</button></td>
    {{/if}}
  </tr>
  
</template>

<!-- Template for step : advanced details: Lessons Learned-->
<template name="advancedDetailsLessonsLearned" >
    <p>What can be learned from this scenario?</p>
    <textarea type="text" id="lesson" rows="4" class="textAreaStyle" placeholder="Describe what can be learned from this scenario" {{isScenarioReadOnly}}>{{lessonsLearned}}</textarea><br/>
    Do you think this incident could have been prevented or mitigated through better technology?
    <select id="preventable" value="yes">
        <option value ="notSure" {{selectedLessonLearned "notSure"}}>I am not sure</option>   
        <option value ="yes" {{selectedLessonLearned "yes"}}>Yes</option>   
        <option value ="no" {{selectedLessonLearned "no"}}>No</option>      
    </select>

</template>

<!-- Template for step : advanced details: Relevant References-->
<template name="advancedDetailsReferences">
{{#if isScenarioEditable}}
    {{> referenceInput}}
    <hr>
{{/if}}

 <span>Current references added to the scenario</span>
 <table>
     <tr class="btn-turquesa">
         <th>URL of the reference</th>
         <th>Relevance</th>
         <th></th>
     </tr>
     {{#each referenceEntryList}}
         {{> referenceEntry}}
     {{/each}}
 </table>

</template>

<!-- Template ot display the input form  to create a new reference -->

<template name="referenceInput">
<p>Add any relevant online references to this scenario (FDA or Maude reports, articles or white papers, pieces of software and/or other documentation) </p>

 <table class="div-chooseClinical">
<!--  <colgroup>
     <col style="width: 20%;">
     <col style="width: 40%;">
     <col style="width: 40%;">
 </colgroup> -->
     <tr>
        <th></th>
        <th>URL of the reference</th>
        <th>Relevance</th>
     </tr>
     <tr>
         <td><select id="referenceUrlProtocol" >
             <option value ="http://">http</option>
             <option value ="https://">https</option>
         </select></td>
         <td><textarea class="regularTextAreaStyle" type="text" id="referenceUrl" rows="1"  cols= "80" placeholder="Type the reference's url" ></textarea></td>
         <textarea  class="regularTextAreaStyle" type="text" id="referenceRelevance" rows="3" cols= "80" placeholder="Briefly describe why is important or relevant" ></textarea>
     </tr>

 </table>

 <button type="button" id="addNewReference" class="btn btn-small btn-mint">Add This Reference</button><br/>
</template>

<!-- Template to display the info of a single reference-->
<template name="referenceEntry">
    <tr class="tablePijamaEvenRow">
    <td style="width:30%"><a href="{{referenceUrl}}" target="_blank">{{referenceUrl}}</a></td>
    <td style="width:70%"><label>{{referenceRelevance}}</label></td>
    {{#if isScenarioEditable}}
    <td> <button id="deleteReference" class="btn-red" style="width:100%" >Delete</button></td>
    {{/if}}
    </tr>   
</template>


<!-- Template for step : advanced details: Actors -->
<template name="advancedDetailsRoles">
 {{#if isScenarioEditable}}
    {{ > roleInput}}
    <hr>
 {{/if}}

    <table>
        <tr>
        {{#if isScenarioEditable}}<th></th>{{/if}}
         <th >Clinical Roles of the scenario</th>
        </tr>
        {{#each roleEntryList}}
            {{> roleEntry}}
        {{/each}}

    </table>
    
</template>

<!-- Template ot display the input form to create a new clinical role -->
<template name="roleInput">
<p>Add further details about people involved in the scenario and their roles.</p>
    <div class="div-chooseClinical"> 

        Choose a clinical role from this list
        <select id="clinicalRole" class="selectbox-wrapper">
            <option value='-'>-</option>
            <option value='Allergist'>Allergist</option>
            <option value='Anesthesiologist'>Anesthesiologist</option>
            <option value='Cardiologist'>Cardiologist</option>
            <option value='Chief Nurse'>Chief Nurse</option>
            <option value='Clinical Staff'>Clinical Staff</option>
            <option value='CNA - Certified Nurse Assistant'>CNA - Certified Nurse Assistant</option>
            <option value='Cosmetic Surgeon'>Cosmetic Surgeon</option>
            <option value='Critical Care Nurse'>Critical Care Nurse</option>
            <option value='CRNA - Certified Registered Nurse Asst'>CRNA - Certified Registered Nurse Asst</option>
            <option value='Dentist'>Dentist</option>
            <option value='Dermatologist'>Dermatologist</option>
            <option value='Emergency Medicine Doctor'>Emergency Medicine Doctor</option>
            <option value='Endocrinologist'>Endocrinologist</option>
            <option value='Epidemiologist'>Epidemiologist</option>
            <option value='Gastrologist'>Gastrologist</option>
            <option value='General Practitioner'>General Practitioner</option>
            <option value='Geriatrics Specialist'>Geriatrics Specialist</option>
            <option value='Gynecologist'>Gynecologist</option>
            <option value='Hematologist'>Hematologist</option>
            <option value='HHN - Home Health Nurse'>HHN - Home Health Nurse</option>
            <option value='Hospitalist'>Hospitalist</option>
            <option value='Infectious Disease Nurse'>Infectious Disease Nurse</option>
            <option value='Labor-Delivery Nurse'>Labor-Delivery Nurse</option>
            <option value='LPN - Licensed Practical Nurse'>LPN - Licensed Practical Nurse</option>
            <option value='LVN - Licensed Vocational Nurse'>LVN - Licensed Vocational Nurse</option>
            <option value='Medical Assistant'>Medical Assistant</option>
            <option value='Medical Emergency Team'>Medical Emergency Team</option>
            <option value='Neonatologist'>Neonatologist</option>
            <option value='Neurologist'>Neurologist</option>
            <option value='Nurse'>Nurse</option>
            <option value='Nurse Assistant'>Nurse Assistant</option>
            <option value='Occupational Health Nurse'>Occupational Health Nurse</option>
            <option value='Oncologist'>Oncologist</option>
            <option value='ORRN - Operating Room Registered Nurse'>ORRN - Operating Room Registered Nurse</option>
            <option value='Pathologist'>Pathologist</option>
            <option value='Physician'>Physician</option>
            <option value='Radiologist'>Radiologist</option>
            <option value='Respiratory Therapist'>Respiratory Therapist</option>
            <option value='Rheumatologist'>Rheumatologist</option>
            <option value='RN - Registered Nurse'>RN - Registered Nurse</option>
            <option value='RRT'>RRT</option>
            <option value='Surgeon'>Surgeon</option>
            <option value='Toxicologist'>Toxicologist</option>
            <option value='Urologist'>Urologist</option>
            <option value='X-Ray Technician'>X-Ray Technician</option>
        </select>

        or type your own 

        <textarea id="customActor" class="customClinicalEntry"></textarea>

        <button type="button" id="addActor" class="btn btn-small btn-mint" style="vertical-align:middle;">Add Actor</button>
    </div>
</template>

<!-- Template to display the info of a single reference-->
<template name="roleEntry">
    <tr> 
        {{#if isScenarioEditable}}
        <td> <button type="button" id="deleteRole" class="btn-red">Delete</button></td>
        {{/if}}
        <td>{{role}}</td>
    </tr>
</template>

<!-- Template for step : advanced details: Environments -->
<template name="advancedDetailsEnvironments">

{{#if isScenarioEditable}}
    {{ > environmentInput}}
    <hr>
{{/if}}

    <table>
        <tr>
        {{#if isScenarioEditable}}<th></th>{{/if}}
         <th>Clinical Environments of the Scenario</th>
        </tr>
        {{#each environmentEntryList}}
            {{> environmentEntry}}
        {{/each}}
        <tr></tr>
    </table>
</template>

<!-- Template ot display the input form to create a new clinical role -->
<template name="environmentInput">
<p>Add further details about the places where this scenario can take place.</p>
    <div class="div-chooseClinical"> 
        Choose a clinical environment from this list
        <select id="clinicalEnvironment" class="selectbox-wrapper">
            <option value='-'>-</option>
            <option value='Acute assessment unit'>Acute assessment unit</option>
            <option value='Ambulatory wing'>Ambulatory wing</option>
            <option value='Birthing Room/LDR Room/LDRP Room'>Birthing Room/LDR Room/LDRP Room</option>
            <option value='Breast screening unit'>Breast screening unit</option>
            <option value='Burn Care Unit'>Burn Care Unit</option>
            <option value='Cafeteria'>Cafeteria</option>
            <option value='CCU-cardiac care unit'>CCU-cardiac care unit</option>
            <option value='Delivery room'>Delivery room</option>
            <option value='Discharge lounge'>Discharge lounge</option>
            <option value='Discharge unit'>Discharge unit</option>
            <option value='ENT-Ear nose and throat'>ENT-Ear nose and throat</option>
            <option value='ER-emergency room'>ER-emergency room</option>
            <option value='Geriatrics'>Geriatrics</option>
            <option value='Hospital room'>Hospital room</option>
            <option value='ICU-intensive care unit'>ICU-intensive care unit</option>
            <option value='Lab/pathology'>Lab/pathology</option>
            <option value='Maternity wards'>Maternity wards</option>
            <option value='Neonatal unit'>Neonatal unit</option>
            <option value='Nurse station'>Nurse station</option>
            <option value='On-call room'>On-call room</option>
            <option value='OR-operating room'>OR-operating room</option>
            <option value='Patient bay'>Patient bay</option>
            <option value='Pediatrics'>Pediatrics</option>
            <option value='Physical therapy/rehab dept'>Physical therapy/rehab dept</option>
            <option value='Post surgical care unit'>Post surgical care unit</option>
            <option value='Psychiatric ward'>Psychiatric ward</option>
            <option value='Radiology/imaging'>Radiology/imaging</option>
            <option value='Renal unit'>Renal unit</option>
            <option value='Telemetry'>Telemetry</option>
            <option value='Transport'>Transport</option>
            <option value='Trauma center'>Trauma center</option>
            <option value='Ultrasound Unit'>Ultrasound Unit</option>
            <option value='Volunteers room'>Volunteers room</option>
            <option value='Waiting room'>Waiting room</option>
            <option value='Wound Care Unit'>Wound Care Unit</option>
        </select>

        or type your own 

        <textarea id="customEnvironment" class="customClinicalEntry"></textarea>

        <button type="button" id="addPlace" class="btn btn-small btn-mint" style="vertical-align:middle;">Add Environment</button>
    </div>
</template>

<!-- Template to display the info of a single reference-->
<template name="environmentEntry">
    <tr>
        {{#if isScenarioEditable}}
            <td> <button type="button" class="btn-red" style="width:100%" id="deletePlace">Delete</button></td>
        {{/if}}
        <td>{{place}}</td>
    </tr>
</template>
