<!-- Template containing all the scenario info in one single form -->
<template name="scenarioCompleteForm">
<div class="centered">

<div style="text-align : center;">
<!--<input type="image" src="/images/padlock_open.png" alt="padlock open" width="20" height="20">-->
{{#if isScenarioEditable}}
    <a href="#"  id="lockButton"  class="btn btn-small btn-red" title="Enable modification" >Lock Modification</a>
    <a href="#"  id="saveChanges"  class="btn btn-small btn-blue" title="Save the chages in this scenario" >Save Changes</a>
    <!-- I'll hide this button until we have more clear its need and how to correctly implement its function
    <a href="#"  id="discardChanges"  class="btn btn-small btn-blue" title="Discard modifications on this scenario" >Discard Changes</a>
    <a href="#"  id="returnScenario"  class="btn btn-small btn-blue" title="Return this scenario to its submitter for clarification" >Return Scenario</a>
     -->
{{else}}
    <a href="#"  id="lockButton"  class="btn btn-small btn-blue" title="Enable modification" >Unlock Modification</a>
{{/if}}

{{#if canApproveScenario}}
    <a href="#"  id="approveScenario"  class="btn btn-small btn-blue" title="Approve Scenario">Approve Scenario</a>
{{/if}}
</div>

<div style="text-align:center; background:#FF9900"  >
    {{getScenarioLockOwner}}
    {{#if isScenarioEditable}}<br/>
        <label>IMPORTANT! Rember to <b>save</b> or discard your changes before locking the scenario or approving it</label>
    {{/if}}
</div> 
    {{ > scenarioAuditInfo }} <br/>


<!-- Scenario basic info -->
    <label>Title</label>
    <textarea type="text" id="title" name="title" rows="1" cols="75" placeholder="Type to add a title" {{isScenarioReadOnly}}>{{title}}</textarea><br/>
    <label>Description</label><br/>
    <textarea type="text" id="description" name="description" rows="4" class="textAreaStyle solutionTextAreaStyle" placeholder="Type to add a description" {{isScenarioReadOnly}}>{{description}}</textarea><br/>

<!-- Scenario Advanced Information-->
<br/>
    <p>HAZARDS ({{hazardEntryListCount}} entries)</p>

    {{#if isScenarioEditable}}
        {{> hazardInput}}
         <span>Current hazards of the scenario</span>
    {{/if}}
    <table>
        <tr class="btn-turquesa">
            <th>Description</th>
            <th>Expected risks</th>
            <th>Severity</th>
        </tr>
        {{#each hazardEntryList}}
            {{> hazardEntry}}
        {{/each}}
    </table>

    <p>EQUIPMENT ({{equipmentEntryListCount}} entries)</p>
     {{#if isScenarioEditable}}
        {{ > equipmentInput}} 
        <span>List of hazardrous equipment included in the scenario</span>
     {{/if}}  
        <table>
        <tr class="btn-turquesa">
            <th><label>Device Type</label></th>
            <th><label>Manufacturer</label></th>
            <th><label>Model</label></th>
            <th><label>Rosetta - Unique ID</label></th>
            <th><label>Training related problem</label></th>
            <th><label>Instructions related problem</label></th>
            <th><label>Confusing device usage</label></th>
            <th><label>Software related problem</label></th>
            <th><label>Hardware related problem</label></th>
        </tr>
        {{#each equipmentEntryList}}
            {{> equipmentEntry}}
        {{/each}}
    </table>  

    <p>LESSONS LEARNED</p>
        <textarea type="text" id="lesson" rows="4" class="textAreaStyle solutionTextAreaStyle" placeholder="Describe what can be learned from this scenario" {{isScenarioReadOnly}}>{{lessonsLearned}}</textarea><br/>
    Do you think this incident could have been prevented or mitigated through better technology?
    <select id="preventable" value="yes">
        <option value ="notSure" {{selectedLessonLearned "notSure"}}>I am not sure</option>   
        <option value ="yes" {{selectedLessonLearned "yes"}}>Yes</option>   
        <option value ="no" {{selectedLessonLearned "no"}}>No</option>      
    </select>

    <p>CLINICAL ROLES</p>

     {{#if isScenarioEditable}}
        {{ > roleInput}}
     {{/if}}
    <table>
        {{#each roleEntryList}}
            {{> roleEntry}}
        {{/each}}
    </table>

    <p>CLINICAL ENVIRONMENTS</p>
    {{#if isScenarioEditable}}
        {{ > environmentInput}}
    {{/if}}
    <table>
        {{#each environmentEntryList}}
            {{> environmentEntry}}
        {{/each}}
        <tr></tr>
    </table>

    <p>REFERENCES ({{referenceEntryListCount}} entries)</p>
    {{#if isScenarioEditable}}
        {{> referenceInput}}
        <span>Current references added to the scenario</span>
    {{/if}}

     <table>
     <tr class="btn-turquesa">
         <th>URL of the reference</th>
         <th>Relevance</th>
         <th></th>
     </tr>
     {{#each referenceEntryList}}
         {{> referenceEntry}}
     {{/each}}
 </table>

<!-- Scenario solution-->
<br/>
    <label>Description of the Good Idea / Solution</label><br/>
    <textarea type="text" id="solutionDescription" rows="4" class="textAreaStyle solutionTextAreaStyle" {{isScenarioReadOnly}}>{{solutionDescription}}</textarea><br/>
    <label>Benefits of the New System</label><br/>
    <textarea type="text" id="benefitsDescription"  rows="4" class="textAreaStyle solutionTextAreaStyle" {{isScenarioReadOnly}}>{{benefitsDescription}}</textarea><br/>
    <label>Foreseen Risks of the New System</label><br/>
    <textarea type="text" id="risksDescription"  rows="4" class="textAreaStyle solutionTextAreaStyle" {{isScenarioReadOnly}}>{{risksDescription}}</textarea><br/>

</div>
</template>