<!-- Template for the "Finish and Submit" confirmation and  disclaimer page" -->
<template name="scenarioFormSubmitConfirmation">

<p>You are about to submit your scenario "<em>{{title}}</em>".</p>

<p>By submitting your clinical scenario you:</p>

<ol type="1">
    <li>
    Acknowledge that you are the ultimate resposible for the information contained in the scenario you are submitting and that you have done your best effort to de-identify the information contained in it.
    </li>

    <li>
    Acknowledge that you understand the purporse of this Clinical Scenario Repository and that it does NOT substitute any other medico-legal reporting tools, mechanisms or regulatory paths you may be legally or professionally obliged to abide.
    </li>

    <li>
    Acknowledge that you understand that the information submitted to this repository is being gathered for research purposes, and thus may be shared with individuals or institutions.
    </li>
</ol>

<p><b>
Important: The aim of this repository is NOT to provide any kind of advice (medical, legal or otherwise) or solution about a health issue. If you are suffering from a medical problem you should call your physician. In case of a medical emergency dial 911.
</b></p>

<p>
By clicking the "<em>Submit</em>" button you explicitly affirm that you have read, understood and done your best to comply with the abovementioned statements.
</p>

<input type="checkbox" id="acceptanceCheck" unchecked> 

I understand that I, the scenario submitter, am the ultimate resposible for the information contained in the scenario, and I have done my best to avide the <em>Clinical Scenario Repository's</em> policies. <br>


<div>
    <button type="button" id="declineSubmit" class="btn btn-small btn-mint" title="Go to the scenario panel panel" >Decline</button> 
    <button type="button" id="acceptSubmit"  class="btn btn-small btn-mint" title="Accept and submit" >Submit</button>
</div>

</template>