<!-- @author https://github.com/diego2013 -->

<!-- Template containing all the scenario info in one single form -->
<template name="scenarioCompleteForm">
<div class="centered">

<div style="text-align: center;">

<!-- 
try this in a new branch
{{#if userHasRole 'admin'}}
    {{#if isScenarioEditable}}
        <a href="#"  id="editLockButton"  data-action="lock" class="btn btn-small btn-red" title="Finish editing and lock (protect) the scenario" >
            <span class="fa fa-unlock-alt"></span>&nbsp;Finish Editing
        </a>
        <a href="#"  id="saveChanges"  class="btn btn-small btn-blue" title="Save the chages in this scenario" >
            <span class="fa fa-save"></span> &nbsp; Save Edits
        </a>

    {{else}}
     <a href="#"  id="editLockButton"  data-action="unlock" class="btn btn-small btn-mint" title="Enable modification of the scenario" >
        <span class="fa fa-edit"></span>&nbsp;Edit
     </a>
     {{/if}}

{{/if}} -->

    <label style="float:right; clear:right; margin-left:5px; margin-top:2px;">
    <span style="border-radius: 5px; padding:2px 4px;" class="btn-purple">
        <span class="fa fa-star" style="color:gold;"></span> {{acknowledgersCount}}  
    </span>
    &nbsp;users acknowledged this scenario
    </label>

{{#if isScenarioEditable}}
    <a href="#"  id="editLockButton"  data-action="lock" class="btn btn-small btn-red" title="Finish editing and lock (protect) the scenario" >
        <span class="fa fa-unlock-alt"></span>&nbsp;Finish Editing
    </a>
    <a href="#"  id="saveChanges"  class="btn btn-small btn-blue" title="Save the chages in this scenario" >
        <span class="fa fa-save"></span> &nbsp; Save Edits
    </a>
    <a href="#"  id="discardChanges"  class="btn btn-small btn-blue" title="Discard modifications on this scenario (to lastest saved state)" >
        <span class="fa fa-history"></span> &nbsp; Discard Edits
    </a>
    <!-- I'll hide this button until we have more clear its need and how to correctly implement its function
    <a href="#"  id="discardChanges"  class="btn btn-small btn-blue" title="Discard modifications on this scenario" >Discard Changes</a>
    <a href="#"  id="returnScenario"  class="btn btn-small btn-blue" title="Return this scenario to its submitter for clarification" >Return Scenario</a>
     -->
{{else}}
    {{#if userHasRole 'admin'}}
     <a href="#"  id="editLockButton"  data-action="unlock" class="btn btn-small btn-mint" title="Enable modification of the scenario" >
        <span class="fa fa-edit"></span>&nbsp;Edit
     </a>
    {{/if}}
{{/if}}



{{#if canApproveScenario}}
    <a href="#"  id="approveScenario"  class="btn btn-small btn-blue" title="Approve Scenario">
        <span class="fa fa-check-square-o"></span>&nbsp;Approve Scenario
    </a>
{{/if}}


{{#if isApproved}}
<!--     {{#if displayAckButton}}
        <a href="#"  id="like"  class="btn btn-small btn-purple" title="Acknowledge the Scenario">ACK Scenario</a>
    {{/if}} -->
    {{#if isNotScenarioOwner}}
      {{#if currentUser}}
        {{#if allowedToACK}}
        <a href="#"  id="like"  class="btn btn-small btn-purple" title="Acknowledge the Scenario">
            <span class="fa fa-star" style="color:gold;"></span>&nbsp;ACK Scenario
        </a>
        {{else}}
  <!--       <a href="#"  id="acked"  class="btn btn-small btn-light-purple" title="You have already acknowledged the scenario">
            <span class="fa fa-star-o"></span>
            Scenario ACKed
        </a> -->
        <label style="font-size:10px;float:right;clear:right">(You acknowledged this scenario)
        </label>
        {{/if}}

      {{/if}}
    {{/if}}

<!--     <label style="float:right;clear:right;">{{acknowledgersCount}} <span class="fa fa-star" style="color:gold;"></span> users acknowledged this scenario
    </label> -->


{{/if}}



</div>
    
    <div style="border : 0px solid black;">
    <!-- Rebuild the scenarioAuditInfo because its DIV should display inline to display correctly, but then would alter
    other components in other interfaces. Better add fields here than try to keep consitency for display between the two interfaces-->
        <span class="scenarioAuditInfoTextBox">
        <b>Scenario UID:</b> {{_id}} <b>Saved last:</b> {{formatDateTime modifiedAt}} <b>Status:</b> {{showScenarioStatus}}
        </span>
        <span style="padding:0px 5px;"></span>
       <!-- {{ > scenarioAuditInfo }} -->
       <a href="#"  id="downloadScn"  class="btn btn-tiny btn-mint" title="Download">
        <span class="fa fa-download"></span>&nbsp;Download
       </a> 
    </div>

    {{#if userHasRole 'admin'}}
        <div class="notificationBox" >
            {{{getScenarioLockOwner}}}

            {{#if isScenarioEditable}}<br/>
                <label>IMPORTANT! Remember to <b>save</b> or discard your changes before locking the scenario or approving it</label>
            {{/if}}
        </div> 
    {{else}}
        <hr style="border-color:#A9D0F5;  margin-top: 0.5em; margin-bottom: 0.3em;"/>
    {{/if}}

<!--     {{ > scenarioAuditInfo }} <br/>  --> 


<!-- Scenario basic info -->
    <label>Title of the Scenario: </label>
    {{#if isScenarioEditable}}
        <textarea type="text" id="title" name="title" rows="1" cols="75" placeholder="Type to add a title">{{title}}</textarea>
    {{else}}
        {{title}}
    {{/if}}

    <br/><label>Description of the Scenario</label><br/>
    {{#if isScenarioEditable}}
        <textarea type="text" id="description" name="description" rows="4" class="solutionTextAreaStyle" placeholder="Type to add a description" >{{description}}</textarea><br/>
    {{else}}
        <div class='approvedScnTextArea'>{{description}}</div>
    {{/if}}
<!--     <textarea type="text" id="description" name="description" rows="4" class="solutionTextAreaStyle" placeholder="Type to add a description" {{isScenarioReadOnly}}>{{description}}</textarea><br/> -->

<!-- Scenario Advanced Information-->
<br/>
    <p class="scenarioFormCaption">HAZARDS </p>
    {{> advancedDetailsHazards}}

    <p class="scenarioFormCaption">EQUIPMENT</p>
    {{> advancedDetailsEquipment}}

    <p class="scenarioFormCaption">LESSONS LEARNED</p>
    {{> advancedDetailsLessonsLearned}}

    <p class="scenarioFormCaption">CLINICAL ROLES</p>
    {{> advancedDetailsRoles}}

    <p class="scenarioFormCaption">CLINICAL ENVIRONMENTS</p>
    {{> advancedDetailsEnvironments}}

    <p class="scenarioFormCaption">REFERENCES</p>
    {{> advancedDetailsReferences}}

<!-- Scenario solution-->
<br/>
    <p class="scenarioFormCaption">Description of the Good Idea / Solution</p>
    {{#if isScenarioEditable}}
        <textarea type="text" id="solutionDescription" rows="4" class="solutionTextAreaStyle">{{solutionDescription}}</textarea><br/>
    {{else}}
        <div class='approvedScnTextArea'>{{solutionDescription}}</div>
    {{/if}}

    <p class="scenarioFormCaption">Benefits of the New System</p>
    {{#if isScenarioEditable}}
        <textarea type="text" id="benefitsDescription"  rows="4" class="solutionTextAreaStyle" >{{benefitsDescription}}</textarea><br/>
    {{else}}    
        <div class='approvedScnTextArea'>{{benefitsDescription}}</div>
    {{/if}}

    <p class="scenarioFormCaption">Foreseen Risks of the New System</p>
    {{#if isScenarioEditable}}
        <textarea type="text" id="risksDescription"  rows="4" class="solutionTextAreaStyle" >{{risksDescription}}</textarea><br/>
    {{else}}
        <div class='approvedScnTextArea'>{{risksDescription}}</div>
    {{/if}}


</div>
</template>