<!-- Template to thank the user for his/her contribution and suggest the Feedback survey-->
<template name="scenarioFormThankYou">
    Thank you for you contribution. <br/>

    <p>Your scenario was persited in the <em>Clinical Scenario Repository </em> with the unique identifier: <br/></p>

    <b>{{_id}}</b>

    <p>Please, consider <a href="{{ pathFor 'FeedbackForm' }}">taking a brief survey </a> about your experience using this tool to help imporving this Clinical Scenario Repository.</p>

</template>