<!-- Template to list all scenarios -->
<template name="scenarioListTable">
	<p>Content of the database: {{totalCount}} scenarios. {{paginationCaption}}
    <label style="float:right;"> Show 
      <select id="resultsPerPage" value="10">
        <option value ="10" {{selectResultPerPage "10"}} >10</option>
        <option value ="25" {{selectResultPerPage "25"}} >25</option>   
        <option value ="50" {{selectResultPerPage "50"}} >50</option>   
      </select>
      results per page </label>
  </p>


	<table class="tablePijama">
    <tr class="btn-turquesa clickableHeader" id="cabecera">
      <th data-name="createdAt">Created by</th>
      <th data-name="_id">Link</th>
      <th data-name="_id">Scenario UID</th>
      <th data-name="title">Title</th>
      <th data-name="description">Description</th>
      <th data-name="status">Status</th>
      <th data-name="modifiedAt">Saved last</th>
    </tr>

        {{#each scenarios}}
             <tr style="text-align: center"> {{ > scenarioRow }} </tr>
        {{/each}}

  </table>

  <div style="margin-top:10px;">
    <ul class="pager">
        <li class="previous disabled" id="previousButton"> <a href="#">&larr; {{prevText}}</a> </li>
        <li class="next" id="nextButton"> <a href="#">{{nextText}} &rarr;</a> </li>
    </ul>
  </div> 

</template>

<!-- template with the informatio of a single scenario -->
<template name="scenarioRow">
  

  	<td>{{username}}</td>
  	<td class="thin-column"><button id="visitScenario" style="width:100%" class="btn-orange clickableHeader" name={{_id}}>Visit Scenario</button> </td>
  	<td>{{_id}} </td>
  	<td>{{trimLength title 45}} </td>
  	<td>{{trimLength description 50}} </td>
  	<td>{{status}} </td>
    <td>{{formatDate modifiedAt}}  </td>


</template>